<?xml version="1.0" encoding="utf-8"?>
<Media Key="42945b04-966e-4406-9603-7296f3b6336e" Alias="1920X1080" Level="2">
  <Info>
    <Parent Key="9822c464-4b01-4574-8cc2-c4c6446c55fb">Image Samples</Parent>
    <Path>/ImageSamples/X1080</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-06T14:05:28</CreateDate>
    <NodeName Default="1920X1080" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ajnjiqto/1920x1080.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>