<?xml version="1.0" encoding="utf-8"?>
<Media Key="dce77681-c1dc-4759-b3c3-fb786aeb2288" Alias="400X300" Level="2">
  <Info>
    <Parent Key="9822c464-4b01-4574-8cc2-c4c6446c55fb">Image Samples</Parent>
    <Path>/ImageSamples/X300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-06T14:05:27</CreateDate>
    <NodeName Default="400X300" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q31opxg2/400x300.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>