<?xml version="1.0" encoding="utf-8"?>
<Media Key="9822c464-4b01-4574-8cc2-c4c6446c55fb" Alias="Image Samples" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImageSamples</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-06T14:05:22</CreateDate>
    <NodeName Default="Image Samples" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>