<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcf4f736-eec3-45f1-a78e-1aa90b9b0434" Alias="About Generic Page - Start from separate page - Checkbox" Level="1">
  <Info>
    <Name>About Generic Page - Start from separate page - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>