<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3382740-a50a-4d1b-a3db-50267b4dd92b" Alias="Author and read time - Author - User Picker" Level="1">
  <Info>
    <Name>Author and read time - Author - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>