<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c84258ba-1ec9-4f30-868b-a05d6f0b03e2" Alias="Block Image - oDisplayTarget - Dropdown" Level="1">
  <Info>
    <Name>Block Image - oDisplayTarget - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "MobileOnly"
    },
    {
      "id": 3,
      "value": "DesktopOnly"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>