<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bed3a2d-fb47-47ed-ab8b-bd8447a85275" Alias="Block Image - Display Target - Dropdown" Level="1">
  <Info>
    <Name>Block Image - Display Target - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "MobileOnly"
    },
    {
      "id": 3,
      "value": "DesktopOnly"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>