<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87ef1529-f16f-4a38-92c3-943a80fa596b" Alias="Block Full Screen Top Container - Honors - Block List" Level="1">
  <Info>
    <Name>Block Full Screen Top Container - Honors - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "38a1ef9c-fafb-4eca-baeb-ac5fa584e344",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>