<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25a03432-f832-417a-a833-ae3b8b4d3154" Alias="Block grid page - Block Grid" Level="1">
  <Info>
    <Name>Block grid page - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "name": "Layout"
    },
    {
      "key": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "name": "Text"
    },
    {
      "key": "c56892dc-6bee-472b-9892-2d2c929728a7",
      "name": "Contacts"
    },
    {
      "key": "49e71826-a5cc-4472-8d0f-db790278977e",
      "name": "With nested items"
    },
    {
      "key": "b7dcc8a2-1be7-459b-9c1a-905cd474c226",
      "name": "Image"
    },
    {
      "key": "5e6d5e25-fbe3-46e2-bb35-3d61e019c1e3",
      "name": "Image with text"
    },
    {
      "key": "29f22768-bf2e-4dc6-b7a9-d3bfb98db57c",
      "name": "Full screen container"
    },
    {
      "key": "b9eceb06-0ccb-4a01-b1a6-c29aa6de282e",
      "name": "Functional"
    },
    {
      "key": "f0236289-f05f-4871-a83a-ee49688e87d7",
      "name": "Buttons"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "dd78370a-8d68-4c7b-86c1-c29595e86b3d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "4e7dda8e-f039-4db3-bc8e-58c7f95323cb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to add styled button that can redirect to any link",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/callToAction.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "cff7a9ef-431c-4465-a4d3-88917093131e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/margins.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "cd50b99e-c431-4ae6-ba3f-3b8cd9d90ec9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to add video from YouTube or from another source",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockGrid/EmbeddedVideo/embeddedVideo.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/EmbeddedVideo/embeddedVideo.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Header",
          "columnSpan": 6,
          "createLabel": null,
          "key": "d93f7bfe-5d04-4141-8bd7-8e18aef5b761",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "Image",
          "columnSpan": 6,
          "createLabel": null,
          "key": "43bcacdb-468f-4207-8873-6d1f6d3f231e",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 3,
          "specifiedAllowance": [
            {
              "elementTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "cd50b99e-c431-4ae6-ba3f-3b8cd9d90ec9",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "Text",
          "columnSpan": 6,
          "createLabel": null,
          "key": "36016258-f9c2-472d-bbf0-b679798be928",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "271c610f-24ef-439a-ac10-3f90997b047f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "iconColor": null,
      "inlineEditing": false,
      "label": "In areas of this block can be placed one image or one video, the other two items should be Rich Text editors.",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/combinedContent.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Image",
          "columnSpan": 6,
          "createLabel": null,
          "key": "83348afc-548a-4803-86b5-c1ff81b0267e",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 3,
          "specifiedAllowance": [
            {
              "elementTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "cd50b99e-c431-4ae6-ba3f-3b8cd9d90ec9",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "Header",
          "columnSpan": 6,
          "createLabel": null,
          "key": "3239e301-2d6d-462d-9ddd-eb8cde2997e3",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "Text",
          "columnSpan": 6,
          "createLabel": null,
          "key": "c2aa8d10-7d05-4d64-a074-c9fae9d68411",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0b2a727e-74e1-4492-932c-6dc7e8c96516",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "iconColor": null,
      "inlineEditing": false,
      "label": "In areas of this block can be placed one image or one video, the other two items should be Rich Text editors.",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "Right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block is a placeholder for any content that is placed in each half",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Left",
          "columnSpan": 5,
          "createLabel": null,
          "key": "c8dc1d44-a958-4eca-b21d-2b7def0ef44c",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "Right",
          "columnSpan": 7,
          "createLabel": null,
          "key": "d27af34c-63ab-4365-89c9-839169dc8b7f",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0815d657-e59a-480a-bad9-48d8e9477157",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block is a placeholder for any content that is placed in each half. Left half takes less space",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to insert any text styled with HTML markup",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/RichTextEditor/richTextEditor.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Bleed",
          "columnSpan": 12,
          "createLabel": null,
          "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block can hold Rich text editor and set background and text colors of text",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/FullBleed/oFullBleed.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7ab2b5d6-c1a2-4ff1-af4a-bc534b67560c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block can be used a title",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/blockTitle.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "ebc9ec4c-4ca1-4f21-b5b2-01b716b683c4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block represents quote",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/quote.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f7b031ef-83e5-401e-9387-0c63682d0dbd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c56892dc-6bee-472b-9892-2d2c929728a7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block represents contact form",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/contactContainer.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "95674846-42f2-40f4-80d6-600acf709564",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c56892dc-6bee-472b-9892-2d2c929728a7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block represents contact form with new styles",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "8bf7cf97-8b15-4099-8c81-d320c4880b8c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block can be used to display items in various directions. You can use it to show services",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "5e965f5b-1aa0-4d5f-b5bf-b29c53b1357f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to add questions and answers to them",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e5900889-d823-4510-8ccb-f5347d66544f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c56892dc-6bee-472b-9892-2d2c929728a7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block represents contact form",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/quickContactContainer.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6bc08d97-1619-488d-be20-669ad6ae4597",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to place contacts. It should be the last block on page",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "186773fc-969b-4cd5-9c2d-7dbffc6812a4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block can be used to show slides with different content.",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "250b0930-dcd2-4e75-a527-c2839466c223",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block can be used to show support plans cards",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "37fcf2c4-3ce3-49e7-bf62-3127e882a6a8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b7dcc8a2-1be7-459b-9c1a-905cd474c226",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 8,
      "rowMinSpan": 3,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockGrid/ImageBlock/imageBlock.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/ImageBlock/image.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b7dcc8a2-1be7-459b-9c1a-905cd474c226",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockGrid/ImageBlock/imageBlock.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/ImageBlock/image.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "45b6fe36-9068-46b7-a4f5-3676fe7f25ae",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "5e6d5e25-fbe3-46e2-bb35-3d61e019c1e3",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block can hold image with title and text. Direction can be changed. This block can't have any areas",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7701084d-0bf8-404b-8913-0bed25f69a6c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "29f22768-bf2e-4dc6-b7a9-d3bfb98db57c",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block should be placed first. It takes all witdh of the screen. Has image as a background and text as content. It has new styles.",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9b652cb4-af47-4110-a41f-36af3c80a78b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b9eceb06-0ccb-4a01-b1a6-c29aa6de282e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to show breadcrumbs on page",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "8c71482a-fa11-4e23-bb59-e6dda3b08727",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b9eceb06-0ccb-4a01-b1a6-c29aa6de282e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to show specific author's publications",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/VIews/authorPublications.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b33915c4-3e2b-40d4-b30c-c9fa9b13a2dd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b9eceb06-0ccb-4a01-b1a6-c29aa6de282e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "This block allows to show author of publication and read time",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "29d78f05-8427-445d-9be4-ebdaa3f53833",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2e4cd049-1cb4-4bd0-a326-6ea874708582",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "29f22768-bf2e-4dc6-b7a9-d3bfb98db57c",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Block Full Screen Top Container. This block should be placed first. It takes all witdh of the screen. Has image as a background and text as content",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockGrid/FullScreenTopContainer/fullScreenTopContainer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/FullScreenTopContainer/fullScreenTopContainer.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7db3255a-1432-4cb3-b4ca-a294995ada42",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "f5166e33-8420-422b-ac86-e83a8b8cfdc3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/bundles/style.min.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/TableBlock/tableBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9de8bfc2-fc21-4532-b97f-fbdfac201a91",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Left",
          "columnSpan": 4,
          "createLabel": null,
          "key": "430d36ca-3bbc-4411-a446-64117c61e498",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "Сenter",
          "columnSpan": 4,
          "createLabel": "Right",
          "key": "f5031d41-abc1-423b-8c4e-5752ff321fd6",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": null,
          "key": "161bf951-6699-4f37-ab5f-81fb6c039b71",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "95fe3bf0-6621-43bf-aeaf-1685c803a222",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0ab3c2de-d860-427b-94c2-5a3b3a7b6465",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/IconList/oWhatAreWeDoingContainer.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "cb2a0614-8f7f-4357-9f01-d62fc8d0d495",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Text With Button Right - {{oText}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a3c8f13c-400f-4bd6-8818-857639c21a37",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f0236289-f05f-4871-a83a-ee49688e87d7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/Button/oButton.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "3eaf0645-89b0-4edb-a3c3-afcd988efd98",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/BlockSliderContainerWithRating/oBlockSliderContainerWithRating.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "24db5bbb-822b-49db-bc2e-95beac059a91",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7838591d-de3b-4115-9d42-589fd2c56702",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b7dcc8a2-1be7-459b-9c1a-905cd474c226",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "4af0d0f1-bf8b-4712-a795-6fd3c29e4146",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c56892dc-6bee-472b-9892-2d2c929728a7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "c301ef50-a3ac-4ef1-80f3-7700944de52b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/BlockListTitleWithIcon/oBlockListTitleWithIcon.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0123d87c-d529-4385-a33b-931c87983376",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "29f22768-bf2e-4dc6-b7a9-d3bfb98db57c",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/Oski-assets/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/Hero/oHero.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "12",
          "columnSpan": 12,
          "createLabel": null,
          "key": "004f4f77-b1cb-47cd-baa0-7ce6be655765",
          "maxAllowed": 12,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "c9b47982-013d-4cdf-96c8-42f647996cff",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ce44bcc4-09c1-4fec-a6e3-966c525d4902",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "67a98ac7-819a-430d-b5b8-063e7a260702",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "32141747-34b1-4646-94be-118a1541d42f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b7dcc8a2-1be7-459b-9c1a-905cd474c226",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "78e8e222-949d-403b-969c-18d4874ce02a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "49e71826-a5cc-4472-8d0f-db790278977e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f124dbd5-d3b1-43a1-b6c7-eac9825c1a61",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "29f22768-bf2e-4dc6-b7a9-d3bfb98db57c",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fe481cf7-e086-42a5-a060-a93b8fb3642c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "491241a5-6ec8-43f6-ae17-6ca77eb0a3f1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b7dcc8a2-1be7-459b-9c1a-905cd474c226",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "1fae5e45-dac3-4b15-a262-b7905d4707e4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f59bf28d-096d-4b34-8e71-d3640f185660",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": true,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>