<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ac70ce4-8d44-4e37-9f16-9736984e5eec" Alias="Block slide With Rating - Stars Count - Numeric" Level="1">
  <Info>
    <Name>Block slide With Rating - Stars Count - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 1,
  "max": 5
}]]></Config>
</DataType>