<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b5372ca-6d56-4109-a223-f6996e2da4d2" Alias="Block Image - Width - Numeric" Level="1">
  <Info>
    <Name>Block Image - Width - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>