<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5b06034-c78f-4e09-b6be-76ed65614522" Alias="Blogpost - Latest Articles - Multi URL Picker" Level="1">
  <Info>
    <Name>Blogpost - Latest Articles - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>