<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31df8dc2-550e-42dc-baf4-deefcfdf3326" Alias="Blog Page - Numeric" Level="1">
  <Info>
    <Name>Blog Page - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 4,
  "step": 1,
  "max": 10
}]]></Config>
</DataType>