<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c9ca1bf-37b8-422a-b9f4-1a402629e03d" Alias="Blogpost - CropImage - Checkbox" Level="1">
  <Info>
    <Name>Blogpost - CropImage - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>