<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56e98bd5-dd51-4a32-a624-2063ba3136ea" Alias="Blog Page - Number of displayed news - Dropdown" Level="1">
  <Info>
    <Name>Blog Page - Number of displayed news - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "5"
    },
    {
      "id": 2,
      "value": "7"
    },
    {
      "id": 3,
      "value": "9"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>