<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e8022d1-a4ea-4f31-b711-b2e34eb68774" Alias="CallToAction - BackgroundStyle - Dropdown" Level="1">
  <Info>
    <Name>CallToAction - BackgroundStyle - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "white"
    },
    {
      "id": 2,
      "value": "dark"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>