<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f709b3f-4bc5-4717-9863-5bef31a8107f" Alias="Card - ImagePosition - Dropdown" Level="1">
  <Info>
    <Name>Card - ImagePosition - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Image top"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>