<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ca3ae93-8d55-4c13-9ec9-7c489ae5b1ac" Alias="Checkbox - default true" Level="1">
  <Info>
    <Name>Checkbox - default true</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>