<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b451ba2-9858-4a3b-9086-3b02a2c806c8" Alias="Contact container - Level of English - Repeatable textstrings" Level="1">
  <Info>
    <Name>Contact container - Level of English - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 2
}]]></Config>
</DataType>