<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41180a40-af40-43aa-9df8-1947731db049" Alias="Contact container - oEmail - Email address" Level="1">
  <Info>
    <Name>Contact container - oEmail - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": true
}]]></Config>
</DataType>