<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b3177ee-afc0-450b-b921-c6749ea6a75f" Alias="Container - Additional css class - Toggle" Level="1">
  <Info>
    <Name>Container - Additional css class - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>