<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b850fbe-1bce-4e67-9d6f-f10b0d974c7f" Alias="Contact container - Is Width Auto - Toggle" Level="1">
  <Info>
    <Name>Contact container - Is Width Auto - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>