<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65bbd238-0c57-4c3d-b3f4-f9fc7e15ecf6" Alias="Contact container - reCAPTCHA - Checkbox" Level="1">
  <Info>
    <Name>Contact container - reCAPTCHA - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>