<?xml version="1.0" encoding="utf-8"?>
<DataType Key="997fa506-239f-4706-8272-887e66a2f64e" Alias="Contact location and map - Choose an arrangement of elements - Radio button list" Level="1">
  <Info>
    <Name>Contact location and map - Choose an arrangement of elements - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Half"
    },
    {
      "id": 2,
      "value": "Half with left shift"
    },
    {
      "id": 3,
      "value": "Half with right shift"
    }
  ]
}]]></Config>
</DataType>