<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90e0bc44-81eb-4969-b15c-ce285017613e" Alias="Contact location and map for BlockGrid - Contacts - Block List" Level="1">
  <Info>
    <Name>Contact location and map for BlockGrid - Contacts - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a8d9e21c-1dd8-4812-8355-98265b387799",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>