<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bd04768-c149-4ba8-a148-c451d7bafa8f" Alias="Details container - Direction - Dropdown" Level="1">
  <Info>
    <Name>Details container - Direction - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "row"
    },
    {
      "id": 2,
      "value": "column"
    },
    {
      "id": 3,
      "value": "row-reverse"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>