<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7abaf22c-73ca-404a-8460-59876126e78a" Alias="Details container - Details positioning - Dropdown" Level="1">
  <Info>
    <Name>Details container - Details positioning - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "flex-column"
    },
    {
      "id": 2,
      "value": "grid"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>