<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27d5161f-3f5a-4669-8fb4-04db283f3709" Alias="Full screen top container - Position - Dropdown" Level="1">
  <Info>
    <Name>Full screen top container - Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "center"
    },
    {
      "id": 2,
      "value": "left"
    },
    {
      "id": 3,
      "value": "right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>