<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bd75722-56a6-4e9c-80a5-ee54d9f4dac2" Alias="Full screen top container - Honors - Nested Content" Level="1">
  <Info>
    <Name>Full screen top container - Honors - Nested Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "38a1ef9c-fafb-4eca-baeb-ac5fa584e344",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>