<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b122abe-e1e1-4f0e-9c5e-48135a10a797" Alias="Full screen top container - OFontSize - Dropdown" Level="1">
  <Info>
    <Name>Full screen top container - OFontSize - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "h1"
    },
    {
      "id": 2,
      "value": "h2"
    },
    {
      "id": 3,
      "value": "h3"
    },
    {
      "id": 4,
      "value": "h4"
    },
    {
      "id": 5,
      "value": "h5"
    },
    {
      "id": 6,
      "value": "h6"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>