<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d47f9e84-0cf6-45c1-9e50-d3a33491ee9c" Alias="Full screen top container - OImageColor - Color Picker" Level="1">
  <Info>
    <Name>Full screen top container - OImageColor - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ff0000\",\"label\":\"Red\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>