<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4205946-3a7a-4d61-a84a-5079d400d130" Alias="Full screen top container - Background Color - Color Picker" Level="1">
  <Info>
    <Name>Full screen top container - Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"00dbff\",\"label\":\"00dbff\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"2879b5\",\"label\":\"2879b5\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>