<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66ae7c21-9b31-4755-91f7-033834a9cb31" Alias="Full screen top container - Image Color - Color Picker" Level="1">
  <Info>
    <Name>Full screen top container - Image Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 3,
      "value": "{\"value\":\"ff0000\",\"label\":\"ff0000\"}"
    },
    {
      "id": 1,
      "value": "{\"value\":\"58efff\",\"label\":\"58efff\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f26eff\",\"label\":\"f26eff\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>