<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67c779e8-e36e-427e-8632-033b8583458f" Alias="Header menu item - Count of columns - Numeric" Level="1">
  <Info>
    <Name>Header menu item - Count of columns - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 1,
  "max": 9
}]]></Config>
</DataType>