<?xml version="1.0" encoding="utf-8"?>
<DataType Key="676012c6-f1d2-4906-91fa-5bf122c292dd" Alias="Header container - Styles - Dropdown" Level="1">
  <Info>
    <Name>Header container - Styles - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "default"
    },
    {
      "id": 2,
      "value": "org.time"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>