<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa5f46a3-2444-4af8-9e30-4e1d0364593e" Alias="Hero - Group of pictures - Media Picker" Level="1">
  <Info>
    <Name>Hero - Group of pictures - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>