<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5018574a-a265-4a13-94fc-64f17b49227e" Alias="HeroBanner - Image - Media Picker" Level="1">
  <Info>
    <Name>HeroBanner - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>