<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4481e86-b6cc-4eef-86d0-d4639d6f5b60" Alias="Icon List Item - Icon Width - Numeric" Level="1">
  <Info>
    <Name>Icon List Item - Icon Width - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>