<?xml version="1.0" encoding="utf-8"?>
<DataType Key="552de90b-6a3d-4f10-a8cc-54ad83300fce" Alias="Icon List - All Icons Height - Numeric" Level="1">
  <Info>
    <Name>Icon List - All Icons Height - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>