<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f98393e-acc8-4578-ad83-fcfd24828986" Alias="Image and info container - ImagePosition - Dropdown" Level="1">
  <Info>
    <Name>Image and info container - ImagePosition - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>