<?xml version="1.0" encoding="utf-8"?>
<DataType Key="478805ef-5905-4021-98a4-d17910423ab9" Alias="Links container - Font color - Color Picker" Level="1">
  <Info>
    <Name>Links container - Font color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>