<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b45eaa22-6bf2-47a0-a54e-9f872dd4c9a1" Alias="Margin  Block - oDisplayTarget - Dropdown" Level="1">
  <Info>
    <Name>Margin  Block - oDisplayTarget - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "MobileOnly"
    },
    {
      "id": 3,
      "value": "DesktopOnly"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>