<?xml version="1.0" encoding="utf-8"?>
<DataType Key="165782a3-0048-438a-a092-7fd707a63c13" Alias="Number Of Slides - Dropdown" Level="1">
  <Info>
    <Name>Number Of Slides - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "1"
    },
    {
      "id": 1,
      "value": "2"
    },
    {
      "id": 2,
      "value": "3"
    },
    {
      "id": 3,
      "value": "4"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>