<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61f3324e-504c-4f2b-a4eb-7ce5d320ae06" Alias="oHeaderMenu" Level="2">
  <Info>
    <Name>oHeaderMenu</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>oskiSite</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{oCaption}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 11,
    "min": null
  }
}]]></Config>
</DataType>