<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90f19097-bbd2-45a9-abcd-20c88071caa2" Alias="oListStrings" Level="2">
  <Info>
    <Name>oListStrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>oskiSite</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 5,
  "Minimum": 0
}]]></Config>
</DataType>