<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f5c59a9-8691-4d00-bf9e-4702fa29885c" Alias="oMultiUrlPicker" Level="2">
  <Info>
    <Name>oMultiUrlPicker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>oskiSite</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>