<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1cb69d64-5a6e-493f-aff2-12ba3bfaa702" Alias="oSocialLinkType" Level="2">
  <Info>
    <Name>oSocialLinkType</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>oskiSite</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "facebook"
    },
    {
      "id": 2,
      "value": "linkedin"
    },
    {
      "id": 3,
      "value": "instagram"
    },
    {
      "id": 4,
      "value": "twitter"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>