<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b919e9c9-ae01-4234-9efb-cbac3b415607" Alias="Plans Card - OBackgroundColor - Color Picker" Level="2">
  <Info>
    <Name>Plans Card - OBackgroundColor - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>oskiSite</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"70e3e1\",\"label\":\"Light Blue\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"3491cb\",\"label\":\"Blue\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"0149b8\",\"label\":\"Moderate blue\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>