<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0eb44ba0-9571-4972-89be-63967f78fad2" Alias="Position - Dropdown" Level="1">
  <Info>
    <Name>Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "center"
    },
    {
      "id": 2,
      "value": "left"
    },
    {
      "id": 3,
      "value": "right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>