<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d71dc6b-b766-4c7d-9daa-f9f442199a53" Alias="Pricing Model - Strings" Level="1">
  <Info>
    <Name>Pricing Model - Strings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 3,
  "Minimum": 3
}]]></Config>
</DataType>