<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2889c482-07ca-4958-a35e-441677ff9751" Alias="Quick Contact container - reCAPTCHA - Checkbox" Level="1">
  <Info>
    <Name>Quick Contact container - reCAPTCHA - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>