<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d97bbdc5-27b4-4968-b92d-1043b82df202" Alias="Search container - Number of search results - Numeric" Level="1">
  <Info>
    <Name>Search container - Number of search results - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "max": 10
}]]></Config>
</DataType>