<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2239b165-d96a-47e0-821b-c0d007813af4" Alias="Search - Type value - Dropdown" Level="1">
  <Info>
    <Name>Search - Type value - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "AllSite"
    },
    {
      "id": 2,
      "value": "InNews"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>