<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a387616b-9d0c-4bef-8fca-ce49bc702b03" Alias="Slider V2 container - Number Of Slides - Dropdown" Level="1">
  <Info>
    <Name>Slider V2 container - Number Of Slides - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "2"
    },
    {
      "id": 2,
      "value": "3"
    },
    {
      "id": 3,
      "value": "4"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>