<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9237dabb-5d8f-4640-ba21-2210fc51d877" Alias="Slide - Image type - Dropdown" Level="1">
  <Info>
    <Name>Slide - Image type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "circle"
    },
    {
      "id": 2,
      "value": "rectangle"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>