<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24dd0d2a-a2fb-4e1f-8032-97e2a121c7ba" Alias="Tables" Level="1">
  <Info>
    <Name>Tables</Name>
    <EditorAlias>Limbo.Umbraco.Tables</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowUseFirstColumnAsHeader": true,
  "AllowUseFirstRowAsHeader": true,
  "AllowUseLastRowAsFooter": false,
  "CacheLevel": null,
  "HideLabel": false,
  "OverlaySize": null,
  "Rte": null
}]]></Config>
</DataType>