<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fb69e6d-3605-4c45-90db-f1a9e37a1b31" Alias="Tables - Header color - Color Picker" Level="1">
  <Info>
    <Name>Tables - Header color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"999999\",\"label\":\"999999\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"bcbcbc\",\"label\":\"bcbcbc\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"eeeeee\",\"label\":\"eeeeee\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"00dfe7\",\"label\":\"00dfe7\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"c6f7f9\",\"label\":\"c6f7f9\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"fff2cc\",\"label\":\"fff2cc\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"ffe599\",\"label\":\"ffe599\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"ffd966\",\"label\":\"ffd966\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"f9cb9c\",\"label\":\"f9cb9c\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"f6b26b\",\"label\":\"f6b26b\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 12,
      "value": "{\"value\":\"444444\",\"label\":\"444444\"}"
    },
    {
      "id": 13,
      "value": "{\"value\":\"5b5b5b\",\"label\":\"5b5b5b\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>