<?xml version="1.0" encoding="utf-8"?>
<DataType Key="321a4ef4-a881-4f3a-83f3-1478615ac0c0" Alias="Text with image container - List items style - Dropdown" Level="1">
  <Info>
    <Name>Text with image container - List items style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "dots"
    },
    {
      "id": 2,
      "value": "hyphen"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>