<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de119793-5e0f-463f-b2a9-582b2c0f7c51" Alias="Vacacy - Specialization - Tags" Level="1">
  <Info>
    <Name>Vacacy - Specialization - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>