<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7761abcd-1c76-4fb8-a395-4ed6c027c8f3" Alias="Website Link - Url - Multi Url Picker" Level="1">
  <Info>
    <Name>Website Link - Url - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>