<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c472714a-baf6-4de3-b20a-e37eefc02583" Alias="XmlSiteMapSettings - Search Engine Change Frequency - Dropdown" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Search Engine Change Frequency - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "always"
    },
    {
      "id": 2,
      "value": "hourly"
    },
    {
      "id": 3,
      "value": "daily"
    },
    {
      "id": 4,
      "value": "weekly"
    },
    {
      "id": 5,
      "value": "monthly"
    },
    {
      "id": 6,
      "value": "yearly"
    },
    {
      "id": 7,
      "value": "never"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>