<?xml version="1.0" encoding="utf-8"?>
<DataType Key="171ff15a-702d-4186-bd3f-6b57d198b9ae" Alias="XmlSiteMapSettings - Search Engine Relative Priority - Slider" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Search Engine Relative Priority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.1,
  "StepIncrements": 0.1
}]]></Config>
</DataType>