<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06a2366e-31be-4fdf-ba3a-1377adcc0ac8" Alias="XmlSiteMapSettings - Hide From Xml Sitemap - Checkbox" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Hide From Xml Sitemap - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>