<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f742189-ae7d-469a-a8c8-f25e12fccccf" Alias="About us" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="About us">
      <Name Culture="en-us">About us</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/b5d9e4bd781d4224831143a3bacc5567"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/b25e78e6f0024279a680484b868cc216"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/b25e78e6f0024279a680484b868cc216"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h1 style=\"text-align: center;\">About us</h1>\n<p>OSKI solutions is an Estonian-Ukrainian company providing software solutions for businesses in Europe and USA. Main areas — modern Umbraco CMS development, front-end applications, integration projects, and development of SAAS solutions for our customers.</p>\n<p>OSKI solutions has over 10 years of experience in designing, developing, and testing client/server web-based applications using the Microsoft .NET framework and SQL Server. We have a wide experience in extending and customizations of Umbraco 6, 7, 8, 9,10 and 11. Many Umbraco plugins and API projects were successfully completed and implemented by our company from scratch.</p>\n<p>Be part of our friendly environment where you will be challenged enough to learn and grow every day. You can learn more about our benefits on our website.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/b5d9e4bd781d4224831143a3bacc5567"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[0]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>