<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bb03eec-f5aa-41aa-b859-ed71f26bd0f8" Alias="Articles and news" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/ArticlesAndNews</Path>
    <Trashed>false</Trashed>
    <ContentType>oBlog</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="Articles and news">
      <Name Culture="en-us">Articles and news</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="118b29f2-b6fc-467d-9ca2-a52087b8d891">Blog</Template>
  </Info>
  <Properties>
    <configBlog>
      <Value><![CDATA[[
  "Show social in post",
  "Show author and read time",
  "Show side menu"
]]]></Value>
    </configBlog>
    <oButton>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oButton>
    <Ocategories>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dfb0f4f5fc434023b84b7634e196c5be"
      },
      {
        "contentUdi": "umb://element/11ec82fc7bb349e5b617265878668961"
      },
      {
        "contentUdi": "umb://element/74aa136317d1404a89471751b90a1053"
      },
      {
        "contentUdi": "umb://element/fa07cfd033e84cfab55b02ea2876fb2b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "Service",
      "oChildMenuItems": "",
      "oCountOfColumns": "",
      "oIsGrid": "0",
      "oLink": "",
      "oShowLinkAsAButton": "0",
      "rowIndex": "",
      "udi": "umb://element/dfb0f4f5fc434023b84b7634e196c5be"
    },
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "Job opportunities                 ",
      "oChildMenuItems": "",
      "oCountOfColumns": "",
      "oIsGrid": "",
      "oLink": "",
      "oShowLinkAsAButton": "",
      "rowIndex": "",
      "udi": "umb://element/11ec82fc7bb349e5b617265878668961"
    },
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "Events                 ",
      "oChildMenuItems": "",
      "oCountOfColumns": "",
      "oIsGrid": "",
      "oLink": "",
      "oShowLinkAsAButton": "",
      "rowIndex": "",
      "udi": "umb://element/74aa136317d1404a89471751b90a1053"
    },
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "Technical article                 ",
      "oChildMenuItems": "",
      "oCountOfColumns": "",
      "oIsGrid": "",
      "oLink": "",
      "oShowLinkAsAButton": "",
      "rowIndex": "",
      "udi": "umb://element/fa07cfd033e84cfab55b02ea2876fb2b"
    }
  ],
  "settingsData": []
}]]></Value>
    </Ocategories>
    <oFontColor>
      <Value><![CDATA[{
  "value": "ffffff",
  "label": "White",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </oFontColor>
    <oHonors>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oHonors>
    <oImageOrVideoDesktop>
      <Value><![CDATA[umb://media/d1542ab9f2124cdaa66fe3e172b3fb2e]]></Value>
    </oImageOrVideoDesktop>
    <oImageOrVideoMobile>
      <Value><![CDATA[]]></Value>
    </oImageOrVideoMobile>
    <oItems>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oItems>
    <oMenuSubtitle>
      <Value Culture="en-us"><![CDATA[TAGS]]></Value>
    </oMenuSubtitle>
    <oMenuTitle>
      <Value Culture="en-us"><![CDATA[CATEGORIES]]></Value>
    </oMenuTitle>
    <oMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oMetaDescription>
    <oMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oMetaTitle>
    <oShowHonors>
      <Value><![CDATA[0]]></Value>
    </oShowHonors>
    <oTake>
      <Value><![CDATA[6]]></Value>
    </oTake>
    <oTitle>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<h1 style=\"text-align: center;\">Blog</h1>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </oTitle>
    <shareLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2bb6e210492c4bb7a211e758f82823ce"
      },
      {
        "contentUdi": "umb://element/b9d8f402fdab4000bb8d0dc8566de66f"
      },
      {
        "contentUdi": "umb://element/244e1a8dc1b24e16b3cf98d7ee9d524c"
      },
      {
        "contentUdi": "umb://element/7a5f8cdad9d74da2b24099cca7a4350d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
      "oIcon": "umb://media/b9d5a2d9f9b44bfc9cf886ced7e7ebd7",
      "oSocialNetworkName": "Copy link",
      "oUrl": [
        {
          "name": "-",
          "url": "-"
        }
      ],
      "udi": "umb://element/2bb6e210492c4bb7a211e758f82823ce"
    },
    {
      "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
      "oIcon": "umb://media/fdfde4fb50c7479ba6729a6740d6b1e9",
      "oSocialNetworkName": "Facebook",
      "oUrl": [
        {
          "name": "https://www.facebook.com/sharer/sharer.php?u=",
          "target": "_blank",
          "url": "https://www.facebook.com/sharer/sharer.php?u=",
          "queryString": "?u="
        }
      ],
      "udi": "umb://element/b9d8f402fdab4000bb8d0dc8566de66f"
    },
    {
      "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
      "oIcon": "umb://media/bd4b6c1cc00f43e1b76f945506cd53d7",
      "oSocialNetworkName": "LinkedIn",
      "oUrl": [
        {
          "name": "https://www.linkedin.com/shareArticle?mini=true&url=",
          "target": "_blank",
          "url": "https://www.linkedin.com/shareArticle",
          "queryString": "?mini=true&url="
        }
      ],
      "udi": "umb://element/244e1a8dc1b24e16b3cf98d7ee9d524c"
    },
    {
      "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
      "oIcon": "umb://media/9b8906b3c0e1435eb80afc4261a2342c",
      "oSocialNetworkName": "Twitter",
      "oUrl": [
        {
          "name": "https://twitter.com/intent/tweet?url=",
          "url": "https://twitter.com/intent/tweet?url=",
          "queryString": "?url"
        }
      ],
      "udi": "umb://element/7a5f8cdad9d74da2b24099cca7a4350d"
    }
  ],
  "settingsData": []
}]]></Value>
    </shareLinks>
  </Properties>
</Content>