<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcc11388-c9a6-408b-926f-3f5c64957bb5" Alias="Authors" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Authors">
      <Name Culture="en-us">Authors</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/379abca1b0ba41488e18cec1ac16a918",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/cd8ba16402a9429cbb2bea59003d2a40",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/00ba93ec555d4ceea8dda667cb996f98",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/379abca1b0ba41488e18cec1ac16a918"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h1 style=\"text-align: center;\">Authors</h1>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/cd8ba16402a9429cbb2bea59003d2a40"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"134\" data-end=\"154\">Meet the Authors</h3>\n<p data-start=\"156\" data-end=\"416\">Welcome to our content hub! Our authors are a talented bunch, each bringing their own flavor of insight, experience, and creativity. Whether it’s tech tips, industry trends, or just cool ideas worth sharing — they’re here to write it down. Stay tuned for more!</p>\n<ul>\n<li><a href=\"/{localLink:umb://document/de8cb71dc499403b825d83e7e3954ba5}\" title=\"John Doe\">John Doe</a></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/00ba93ec555d4ceea8dda667cb996f98"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[0]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>