<?xml version="1.0" encoding="utf-8"?>
<Content Key="45d2a9d0-ee1b-4c67-83e6-c14569bde12d" Alias="Careers" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Careers</Path>
    <Trashed>false</Trashed>
    <ContentType>oCareers</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Careers">
      <Name Culture="en-us">Careers</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="efe97963-7d58-4981-9e7d-6235c4d3c56d">Careers</Template>
  </Info>
  <Properties>
    <caption>
      <Value Culture="en-us"><![CDATA[OSKI solutions is a rapidly growing company that develops software for business process automation and data integration. We offer ambitious and talented individuals the opportunity to build a career that has a real impact.]]></Value>
    </caption>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/789bb84ad0254f7d9043a6e3f968cfce",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b75b5ce1993a488d95542ca953ec4258",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/52ffb3c81a5b4c6b80ce4d9242c4d3fe",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1025d9b1c64b4039a38ff5ec31c42b90",
        "settingsUdi": null
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
      "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
      "oIconHeight": "",
      "oTitle": {
        "markup": "<p>Work on innovative projects: We develop software that is used by millions of people around the world.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/789bb84ad0254f7d9043a6e3f968cfce"
    },
    {
      "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
      "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
      "oIconHeight": "",
      "oTitle": {
        "markup": "<p>Opportunity to grow and develop: We offer a wide range of opportunities for learning and developing professional skills.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/b75b5ce1993a488d95542ca953ec4258"
    },
    {
      "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
      "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
      "oIconHeight": "",
      "oTitle": {
        "markup": "<p>Friendly and dynamic team: We value teamwork and support for each other.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/52ffb3c81a5b4c6b80ce4d9242c4d3fe"
    },
    {
      "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
      "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
      "oIconHeight": "",
      "oTitle": {
        "markup": "<p>Competitive salary and social package: We offer competitive salaries, health insurance and other social benefits.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/1025d9b1c64b4039a38ff5ec31c42b90"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <numberOfColumns>
      <Value Culture="en-us"><![CDATA[2]]></Value>
    </numberOfColumns>
    <subTitle>
      <Value Culture="en-us"><![CDATA[Join a dynamic team that develops innovative solutions for a better future]]></Value>
    </subTitle>
    <title>
      <Value Culture="en-us"><![CDATA[BUILD A CAREER WITH IMPACT]]></Value>
    </title>
  </Properties>
</Content>