<?xml version="1.0" encoding="utf-8"?>
<Content Key="1620943b-0ed5-4b21-aafd-019863e8d4e7" Alias="Contact" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="en-us">Contact</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f59eb53e284d4c00afa8cdc6d19008b3",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/de84ef4f5f5b4d889bba9e5bdc45ca22",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/0d3f951416034f68a02c8a0c7f0244c3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/420773b630b34716b40829ca50999744",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "areas": [
                  {
                    "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d6cfcae8a4dc433293a97006abddb249"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/a0fbb7bbee3e4abdbf0bf10a0a76e06e"
                      },
                      {
                        "contentUdi": "umb://element/e8c3ce330f1643fc8038aa611fcc728c",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/04f6e4a854df46c180c3ae6da274721c"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/8c16fb7bd0bf43ca8ac8774ff86e3fdc"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bceed76742ed4469b8c25c5731611362",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/747b513336f14023b61dbfb8d9aad616",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "#f7f9ff",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "",
      "oIsTextCentered": "1",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/f59eb53e284d4c00afa8cdc6d19008b3"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": "",
      "udi": "umb://element/0d3f951416034f68a02c8a0c7f0244c3"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/420773b630b34716b40829ca50999744"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/8c16fb7bd0bf43ca8ac8774ff86e3fdc"
    },
    {
      "contentTypeKey": "7ab2b5d6-c1a2-4ff1-af4a-bc534b67560c",
      "oRichTextEditor": "What will you get after 15-minutes meeting with us?",
      "udi": "umb://element/d6cfcae8a4dc433293a97006abddb249"
    },
    {
      "contentTypeKey": "0ab3c2de-d860-427b-94c2-5a3b3a7b6465",
      "oAllIconcHeight": "",
      "oContent": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/96a5a2d5d68749688d7b83699d7ada90"
            },
            {
              "contentUdi": "umb://element/026d864b269e49efb95e25fb7cb6f441"
            },
            {
              "contentUdi": "umb://element/67f85ce8edad4efaa351ecfa5191ef9a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
            "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
            "oTitle": {
              "markup": "Answers to all questions regarding possible cooperation, your project, its cost, and team members.",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/96a5a2d5d68749688d7b83699d7ada90"
          },
          {
            "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
            "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
            "oTitle": {
              "markup": "<p>We will advise you on the best solutions for your project based on our experience in the <a href=\"/\" title=\"Oski\">niche</a>. </p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/026d864b269e49efb95e25fb7cb6f441"
          },
          {
            "contentTypeKey": "86f45f51-d00c-49d5-96f6-4cdccfe0f328",
            "oIcon": "umb://media/705463989e6c408fa02357d207362a7f",
            "oTitle": {
              "markup": "We will offer a clear action plan and timeline for the implementation of your project.",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/67f85ce8edad4efaa351ecfa5191ef9a"
          }
        ],
        "settingsData": []
      },
      "oNumberOfColumns": "",
      "udi": "umb://element/a0fbb7bbee3e4abdbf0bf10a0a76e06e"
    },
    {
      "attachFile": "",
      "contentTypeKey": "f7b031ef-83e5-401e-9387-0c63682d0dbd",
      "education": "",
      "levelOfEnglish": "",
      "linkedInLink": "",
      "oButtonName": "Contact with OSKI",
      "oEmail": "contact@oski.site",
      "oHasCompnayInputField": "0",
      "oIsWidthAuto": "0",
      "oPlaceholderForMessage": "Message",
      "oRecaptcha": "0",
      "oSubject": "Quick Contact Form - Contact Us",
      "oSubTitle": "",
      "oTitle": "Let's hear what you are looking for and we'll help you find the best solution!",
      "showPhoneNumber": "0",
      "udi": "umb://element/04f6e4a854df46c180c3ae6da274721c"
    },
    {
      "contentTypeKey": "7838591d-de3b-4115-9d42-589fd2c56702",
      "oName": "",
      "oPhoto": "umb://media/1ab7aab8187649e4abb3306c1ec17375",
      "oPosition": "Customer Success Manager",
      "oText": {
        "markup": "<p>It’s OK if web forms aren’t your thing. We can get in touch through my email: <a href=\"mailto:contact@oski.site\">contact@oski.site</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "oTextContent": "",
      "udi": "umb://element/e8c3ce330f1643fc8038aa611fcc728c"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "#f7f9ff",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/bceed76742ed4469b8c25c5731611362"
    },
    {
      "contentTypeKey": "4af0d0f1-bf8b-4712-a795-6fd3c29e4146",
      "oContactsContent": {
        "markup": "<p>Estonia, Talin, Kaupmehe tn 7-120, 10114</p>\n<p><a href=\"tel:+48571282759\" class=\"contacts-page__link\">tel.: +48571282759</a><br /><a href=\"mailto:kirill.osadchuk@oski.site\" class=\"contacts-page__link\">contact@oski.site</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "oGoogleMapLocation": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.281571787215!2d24.7546943163025!3d59.437018481696576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692935f7f4d0f8f%3A0x3c3a3a4d9e4e4d4b!2sKaupmehe%20tn%207-120%2C%2010114%20Tallinn%2C%20Estonia!5e0!3m2!1sen!2sde!4v1663775199879!5m2!1sen!2sde\" width=\"600\" height=\"450\" style=\"border:0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe>",
      "oSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/15fc25cdd3fd49e4bc4b74fed29ad029"
            },
            {
              "contentUdi": "umb://element/1463aee69e6d47adaad9388ff9c02614"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
            "oIcon": "umb://media/a6fe8be8b05d42c2a7203077e630e464",
            "oUrl": [
              {
                "name": "https://www.linkedin.com/company/oski-solutions",
                "url": "https://www.linkedin.com/company/oski-solutions",
                "queryString": "#"
              }
            ],
            "udi": "umb://element/15fc25cdd3fd49e4bc4b74fed29ad029"
          },
          {
            "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
            "oIcon": "umb://media/daf64e28ffc54145a9c6a2920895ab08",
            "oUrl": [
              {
                "name": "skype:ch19837",
                "url": "skype:ch19837"
              }
            ],
            "udi": "umb://element/1463aee69e6d47adaad9388ff9c02614"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/747b513336f14023b61dbfb8d9aad616"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h1>Contact with OSKI Team</h1>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/de84ef4f5f5b4d889bba9e5bdc45ca22"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[0]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>