<?xml version="1.0" encoding="utf-8"?>
<Content Key="d492c952-d933-4b73-b8e0-1bf82e4a57b4" Alias="Cooperation" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Cooperation</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="Cooperation">
      <Name Culture="en-us">Cooperation</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b997d26c9cb64c13b5fce8fd1225d7b6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b4717fbbda0d41ab88d6c5c125162da4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8b5f002db41544c6ba9698deafbacd9c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/498ceb03b0204572a81806197982f6ee",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a2fcae3a2bf64defadc6e0d9b1d42e45",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2e4cd049-1cb4-4bd0-a326-6ea874708582",
      "oBackgroundColor": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      },
      "oButton": "",
      "oFontColor": {
        "value": "ffffff",
        "label": "White",
        "sortOrder": 1,
        "id": "2"
      },
      "oHonors": "",
      "oImageOrVideoDesktop": "umb://media/b3697bcb4ca14fc0a42e35bbe0abf1b9",
      "oImageOrVideoMobile": "",
      "oItems": "",
      "oPaddingsTopBottom": "0",
      "oShowHonors": "0",
      "oTitle": {
        "markup": "<div class=\"markdown__back--code\">\n<h2 class=\"markdown__back markdown__title\">Cooperation</h2>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/b997d26c9cb64c13b5fce8fd1225d7b6"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<p data-start=\"168\" data-end=\"408\">Looking for flexible ways to scale your tech capabilities? We offer partnership options designed to fit your unique business needs. Whether you need full project support or dedicated experts to join your team, we provide tailored solutions.</p>\n<h4 data-start=\"410\" data-end=\"431\">Outsourcing</h4>\n<p data-start=\"432\" data-end=\"646\">Get a full team to manage your development projects from start to finish. Our outsourcing services provide experienced professionals who deliver quality solutions on time, so you can focus on growing your business.</p>\n<h4 data-start=\"648\" data-end=\"669\">Outstaffing</h4>\n<p data-start=\"670\" data-end=\"862\">Expand your in-house team with dedicated specialists who work exclusively on your projects. You maintain control and oversight, while we supply the technical talent needed to reach your goals.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/498ceb03b0204572a81806197982f6ee"
    },
    {
      "contentTypeKey": "e5900889-d823-4510-8ccb-f5347d66544f",
      "oBackgroundStyle": [
        "dark"
      ],
      "oButtonName": "Send",
      "oEmail": "contact@oski.site",
      "oIsFullWidth": "1",
      "oPlaceholderForMessage": "Message to OSKI Solutions",
      "oRecaptcha": "0",
      "oSubject": "Quick Contact Form - Cooperation",
      "oSubTitle": "",
      "oTitle": "Let’s discuss your new project ",
      "udi": "umb://element/a2fcae3a2bf64defadc6e0d9b1d42e45"
    },
    {
      "contentTypeKey": "9b652cb4-af47-4110-a41f-36af3c80a78b",
      "udi": "umb://element/b4717fbbda0d41ab88d6c5c125162da4"
    },
    {
      "contentTypeKey": "7ab2b5d6-c1a2-4ff1-af4a-bc534b67560c",
      "oRichTextEditor": "Partner with Us",
      "udi": "umb://element/8b5f002db41544c6ba9698deafbacd9c"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[1]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>