<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe9987e8-b137-4a7f-9580-e4cf2675ba09" Alias="Internship" Level="3">
  <Info>
    <Parent Key="8f742189-ae7d-469a-a8c8-f25e12fccccf">About us</Parent>
    <Path>/OSKIDigitalAgency/AboutUs/Internship</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="Internship">
      <Name Culture="en-us">Internship</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/382bf22b073546b391e3aa96627a1280"
      },
      {
        "contentUdi": "umb://element/683e9ee642684e4ca124be742149b40e",
        "areas": [
          {
            "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
            "items": [
              {
                "contentUdi": "umb://element/4253b77b57574afa88c361844d0e7fdf",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
            "items": [
              {
                "contentUdi": "umb://element/2ec07db3528943248dcd46c70c4f6308",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a2fab5c13cb44a278e505e04ab0cd2c3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/85cf373c35384eb9a34aaddd0e048220",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a63ee00f19c94e33a1f36f823f62618e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/0ed6ea744e94486cb25aee158bd6746e"
              }
            ]
          },
          {
            "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/f31ee2f1a1b847ce926252da63ac1b0e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/6c66a9053c9b463bb3f502fa1401fa46"
      },
      {
        "contentUdi": "umb://element/563369d8a10a48cc9abf913639600dc2",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "areas": [
                  {
                    "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
                    "items": [
                      {
                        "contentUdi": "umb://element/7eec2c9380fc4855b6717fd85f5c466b",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/a7487f124d1b45aca25c70b3cc7bee20"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/8f372b4f2a0148ab8b03fc7ae53c7e2d"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b7556100f1e64c0fbf75be4562f663c1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/683e9ee642684e4ca124be742149b40e"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "700",
      "oImage": "umb://media/eb93620d56964ce29fc3550015143125",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "950",
      "udi": "umb://element/2ec07db3528943248dcd46c70c4f6308"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<div class=\"intership-top__inner__info intership-top__inner__info__borderstyle-left\" style=\"color: white;\">\n<h1 class=\"intership-top__inner__info__title\">Internship</h1>\n<p class=\"intership-top__inner__info__text\">Dreaming of a career in IT? Looking for an opportunity to gain valuable experience and expand your knowledge in real projects? OSKI Solutions invites ambitious and talented individuals to an internship with the possibility of further employment!</p>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/4253b77b57574afa88c361844d0e7fdf"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/6c66a9053c9b463bb3f502fa1401fa46"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<div class=\"intership-top__inner__info intership-top__inner__info__borderstyle-right\" style=\"color: white;\">\n<h1 class=\"intership-top__inner__info__title2\">How to start your career in IT?</h1>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/f31ee2f1a1b847ce926252da63ac1b0e"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "700",
      "oImage": "umb://media/eb93620d56964ce29fc3550015143125",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "950",
      "udi": "umb://element/0ed6ea744e94486cb25aee158bd6746e"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<div class=\"intership-info\">\n<div class=\"_container\">\n<p>Apply for an internship today, we are expecting you!</p>\n</div>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/b7556100f1e64c0fbf75be4562f663c1"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/8f372b4f2a0148ab8b03fc7ae53c7e2d"
    },
    {
      "attachFile": "0",
      "contentTypeKey": "f7b031ef-83e5-401e-9387-0c63682d0dbd",
      "education": "1",
      "levelOfEnglish": "Level of English\nBeginner\nPre Intermediate\nIntermediate\nUpper Intermediate\nAdvanced\nProficient",
      "linkedInLink": "0",
      "oButtonName": "Start a Career in IT",
      "oEmail": "contact@oski.site",
      "oHasCompnayInputField": "0",
      "oIsWidthAuto": "0",
      "oPlaceholderForMessage": "Experience...",
      "oRecaptcha": "0",
      "oSubject": "Intership",
      "oSubTitle": "",
      "oTitle": "OSKI Solutions is your chance to start a successful career in IT!",
      "showPhoneNumber": "0",
      "udi": "umb://element/a7487f124d1b45aca25c70b3cc7bee20"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<div class=\"intership-contact-form__inner\">\n<div class=\"intership-contact-form__inner__text\">\n<ol>\n<li>Fill out the application form.</li>\n<li>After processing your application, we will invite you to an interview where you can tell us about yourself and your motivations</li>\n<li>Start your journey to a successful career!</li>\n</ol>\n</div>\n</div>\n<!--\n<p>1. Fill out the application form:</p>\n<p>2. After processing your application, we will invite you to an interview where you can tell us about yourself and your motivations.</p>\n<p>3. Start your journey to a successful career!</p>\n-->",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/7eec2c9380fc4855b6717fd85f5c466b"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/563369d8a10a48cc9abf913639600dc2"
    },
    {
      "contentTypeKey": "1fae5e45-dac3-4b15-a262-b7905d4707e4",
      "image": "umb://media/34c21a563aff4e01a6e14b7897ba54f0",
      "leftDownText": "Already during the internship, you participate in work on commercial projects, gaining invaluable experience of working in real conditions.",
      "leftUpText": "You gain valuable knowledge and skills from experienced professionals who share their experience and help you realize your",
      "rightDownText": "OSKI Solutions provides its trainees with access to its own course library, where you can find a wealth of materials for self-paced learning and skill development.",
      "rightUpText": "We value talented and hardworking people, which is why the best interns receive job offers at our company.",
      "title": "Why choose an internship at OSKI Solutions?",
      "udi": "umb://element/85cf373c35384eb9a34aaddd0e048220"
    },
    {
      "contentTypeKey": "cff7a9ef-431c-4465-a4d3-88917093131e",
      "oMarginBottom": "",
      "oMarginLeft": "",
      "oMarginRight": "",
      "oMarginTop": "10",
      "udi": "umb://element/a2fab5c13cb44a278e505e04ab0cd2c3"
    },
    {
      "contentTypeKey": "cff7a9ef-431c-4465-a4d3-88917093131e",
      "oMarginBottom": "",
      "oMarginLeft": "",
      "oMarginRight": "",
      "oMarginTop": "10",
      "udi": "umb://element/a63ee00f19c94e33a1f36f823f62618e"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h1 style=\"text-align: center; visibility: hidden;\">Internship</h1>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/382bf22b073546b391e3aa96627a1280"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[1]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>