<?xml version="1.0" encoding="utf-8"?>
<Content Key="09a439a3-ab3e-42c2-ac24-fa753ad0506b" Alias="Integration and management" Level="3">
  <Info>
    <Parent Key="8079bfab-f1d6-4976-a6f8-e3fd2aa0bbcc">Solutions</Parent>
    <Path>/OSKIDigitalAgency/Solutions/IntegrationAndManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="Integration and management">
      <Name Culture="en-us">Integration and management</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8642239f3bf144a38e6514da11aa3d6b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2317a3c85ed84fadb9de8d5d747a7c36",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/836bc7e8fe6142d58b021f6b4558ff61",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ad5c1585b8484164bde1f8b96f6bc558",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/6df9504a282b49c293ea2e7ab5e8cb17",
                "areas": [
                  {
                    "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
                    "items": [
                      {
                        "contentUdi": "umb://element/45de400f1a2e478cbdbfc0f3b73b9724",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
                    "items": [
                      {
                        "contentUdi": "umb://element/338dfa3ffb224fb48958894d2245dbbd",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f68f15e152c946969fda51fa65296f62",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/712294382c22430da5653086dfe0e744",
                "areas": [
                  {
                    "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
                    "items": [
                      {
                        "contentUdi": "umb://element/fbed6c30b0f844289fc6ecb71d122b8e",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
                    "items": [
                      {
                        "contentUdi": "umb://element/3b354125d4184f34b983595e40e94827",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0e44556e769244f99792ecf6b4184283",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/cb4c6027ce1b487f843682c058ba8199",
                "areas": [
                  {
                    "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
                    "items": [
                      {
                        "contentUdi": "umb://element/f618c562210a4c759b42cd6e80e55cea",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
                    "items": [
                      {
                        "contentUdi": "umb://element/0eff98ce6a9b41e9aaa6e94250f608b9",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/450c8a69692f47089f725231970e1c42",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/a2eec2f2968f47fab10d03f95f588cf7",
                "areas": [
                  {
                    "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
                    "items": [
                      {
                        "contentUdi": "umb://element/8845ace11d4d4e4da7714dd46acf37e0",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
                    "items": [
                      {
                        "contentUdi": "umb://element/ca5cc43a1db74ccca41d426c842c6674",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8d94d456e57441cc94f6a50f64e5407a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2e4cd049-1cb4-4bd0-a326-6ea874708582",
      "oBackgroundColor": "",
      "oButton": "",
      "oFontColor": "",
      "oHonors": "",
      "oImageOrVideoDesktop": "umb://media/dff42f91bcd14a95853f32dfc5304874",
      "oImageOrVideoMobile": "",
      "oItems": "",
      "oPaddingsTopBottom": "0",
      "oShowHonors": "0",
      "oTitle": {
        "markup": "<h1 style=\"text-align: center;\">Integration and management</h1>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/8642239f3bf144a38e6514da11aa3d6b"
    },
    {
      "attachFile": "0",
      "contentTypeKey": "f7b031ef-83e5-401e-9387-0c63682d0dbd",
      "education": "0",
      "levelOfEnglish": "",
      "linkedInLink": "0",
      "oButtonName": "Contact us",
      "oEmail": "contact@oski.site",
      "oHasCompnayInputField": "1",
      "oIsWidthAuto": "0",
      "oPlaceholderForMessage": "Message to OSKI Solutions",
      "oRecaptcha": "0",
      "oSubject": "Contact Form - Inegration and Management",
      "oSubTitle": "",
      "oTitle": "Ready to optimize your operations and enhance your integrations?",
      "showPhoneNumber": "0",
      "udi": "umb://element/8d94d456e57441cc94f6a50f64e5407a"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/2317a3c85ed84fadb9de8d5d747a7c36"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"196\" data-end=\"235\">Integration and Management Services</h3>\n<p data-start=\"237\" data-end=\"581\">The success of modern businesses relies on seamless integration and effective management of systems and applications. Our services are designed to enhance data flow, boost operational efficiency, and maximize your technology investments. Using a wide range of tools and technologies, we tailor solutions to meet the unique needs of each client.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/836bc7e8fe6142d58b021f6b4558ff61"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/ad5c1585b8484164bde1f8b96f6bc558"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/6df9504a282b49c293ea2e7ab5e8cb17"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"588\" data-end=\"619\">Progressive Web Apps (PWAs)</h3>\n<p data-start=\"621\" data-end=\"1029\">Progressive Web Apps combine the best of web and mobile, delivering fast, reliable, and engaging user experiences across all devices. Using technologies like React, Angular, and Service Workers, we build PWAs that load quickly, work offline, and offer a native-like feel. These apps help businesses improve customer engagement, increase conversion rates, and reduce costs compared to traditional mobile apps.</p>\n<p><a href=\"/{localLink:umb://document/4a86bb36ee534139ad57eab1d3bee571}\" title=\"Progressive Web Apps\" class=\"top__button rte-presets__bg-color-blue\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/45de400f1a2e478cbdbfc0f3b73b9724"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/a260b43e31f545d382c439e9abcad66c",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/338dfa3ffb224fb48958894d2245dbbd"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/f68f15e152c946969fda51fa65296f62"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/712294382c22430da5653086dfe0e744"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/7911dd12df9b4054be77bebd6755c43c",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/fbed6c30b0f844289fc6ecb71d122b8e"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": {
        "value": "ffffff",
        "label": "White",
        "sortOrder": 1,
        "id": "2"
      },
      "text": {
        "markup": "<h3 data-start=\"1036\" data-end=\"1055\">API Integration</h3>\n<p data-start=\"1057\" data-end=\"1412\">Robust API integrations connect disparate systems, streamline workflows, and improve data accessibility. By leveraging RESTful APIs, GraphQL, and middleware, we enable seamless data exchange between applications. This integration creates a unified data ecosystem that supports better decision-making, enhanced reporting, and superior customer experiences.</p>\n<p><a href=\"/{localLink:umb://document/abc9db4dce854208a0251f8158d94d68}\" title=\"API integration\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/3b354125d4184f34b983595e40e94827"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/0e44556e769244f99792ecf6b4184283"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/cb4c6027ce1b487f843682c058ba8199"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/685aca3ed22443d98bd8712563d6a573",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/0eff98ce6a9b41e9aaa6e94250f608b9"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"1419\" data-end=\"1458\">SaaS ETL (Extract, Transform, Load)</h3>\n<p data-start=\"1460\" data-end=\"1813\">Our SaaS ETL services extract, transform, and consolidate data from multiple sources into a single platform. With expertise in tools like Apache NiFi, Talend, and Informatica, we build ETL processes tailored to your business needs. Accurate and accessible data empowers organizations to drive analytics, make informed decisions, and optimize operations.</p>\n<p><a href=\"/{localLink:umb://document/da123e35832c4537846b75b920c420f5}\" title=\"SAAS ETL platform\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/f618c562210a4c759b42cd6e80e55cea"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/450c8a69692f47089f725231970e1c42"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/a2eec2f2968f47fab10d03f95f588cf7"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/01dd63df88bd404a866072a799ec7f69",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/8845ace11d4d4e4da7714dd46acf37e0"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"1820\" data-end=\"1845\">CRM and HRM Solutions</h3>\n<p data-start=\"1847\" data-end=\"2214\">Optimizing customer interactions and HR processes is key to organizational success. We develop and integrate CRM and HRM systems using platforms like Salesforce, HubSpot, and Zoho. Our customized CRM solutions help manage customer relationships, sales tracking, and marketing, while HRM systems streamline employee management, recruitment, and performance evaluation.</p>\n<p><a href=\"/{localLink:umb://document/3f8e393c0bce4deba3a2a413d87af76d}\" title=\"HRM solutions\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/ca5cc43a1db74ccca41d426c842c6674"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[1]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>