<?xml version="1.0" encoding="utf-8"?>
<Content Key="de8cb71d-c499-403b-825d-83e7e3954ba5" Alias="John Doe" Level="3">
  <Info>
    <Parent Key="bcc11388-c9a6-408b-926f-3f5c64957bb5">Authors</Parent>
    <Path>/OSKIDigitalAgency/Authors/JohnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="John Doe">
      <Name Culture="en-us">John Doe</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b4a4985f1e8c467fb7ece0130ae202a0",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fb468c6646cb458da19fe4b278a3645a",
        "areas": [
          {
            "key": "8abbc0da-e002-4128-9024-bf3c08169baa",
            "items": [
              {
                "contentUdi": "umb://element/00e4e9639a764a03b6724319cb0732b5",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/842fe701280b4cd3a1c99c06318b63cb",
                "areas": [
                  {
                    "key": "d93f7bfe-5d04-4141-8bd7-8e18aef5b761",
                    "items": [
                      {
                        "contentUdi": "umb://element/247bf51443784f63a951eb8ee2355027",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "43bcacdb-468f-4207-8873-6d1f6d3f231e",
                    "items": [
                      {
                        "contentUdi": "umb://element/f27b4c6b87ac4c379f42b07206ff43e2",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "36016258-f9c2-472d-bbf0-b679798be928",
                    "items": [
                      {
                        "contentUdi": "umb://element/4530e6f38237469cbc5064ca1b5e2836",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6441a0a07c55429fae5c2757d955d167",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/cdedf846fcba448f8ba244e3cf55a322",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "271c610f-24ef-439a-ac10-3f90997b047f",
      "udi": "umb://element/842fe701280b4cd3a1c99c06318b63cb"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/52ddd90eca9f45758022e9addef76930",
      "oIsCircle": "1",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/f27b4c6b87ac4c379f42b07206ff43e2"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"96\" data-end=\"110\">John Doe</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/247bf51443784f63a951eb8ee2355027"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<p data-start=\"111\" data-end=\"139\"><strong data-start=\"111\" data-end=\"139\">Chief Technology Officer</strong></p>\n<p data-start=\"141\" data-end=\"479\">John leads our engineering efforts with a passion for innovation and scalable tech. With experience spanning DevOps, Cloud, AI, Blockchain, and more, he’s all about turning big ideas into real solutions. Whether it’s improving processes or mentoring future tech leaders, John’s mission is to keep the team moving forward — fast and smart.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/4530e6f38237469cbc5064ca1b5e2836"
    },
    {
      "contentTypeKey": "8c71482a-fa11-4e23-bb59-e6dda3b08727",
      "oAuthor": "-1",
      "oPublications": "",
      "oPublicationsLimit": "3",
      "oTitle": "Publications ",
      "udi": "umb://element/6441a0a07c55429fae5c2757d955d167"
    },
    {
      "contentTypeKey": "9b652cb4-af47-4110-a41f-36af3c80a78b",
      "udi": "umb://element/00e4e9639a764a03b6724319cb0732b5"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<p style=\"text-align: center;\"><a href=\"/{localLink:umb://document/4bb03eecf5aa41aab859ed71f26bd0f8}\" title=\"Articles and news\" class=\"top__button\">Check more articles</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/cdedf846fcba448f8ba244e3cf55a322"
    },
    {
      "contentTypeKey": "2e4cd049-1cb4-4bd0-a326-6ea874708582",
      "oBackgroundColor": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      },
      "oButton": "",
      "oFontColor": {
        "value": "ffffff",
        "label": "White",
        "sortOrder": 1,
        "id": "2"
      },
      "oHonors": "",
      "oImageOrVideoDesktop": "umb://media/d1542ab9f2124cdaa66fe3e172b3fb2e",
      "oImageOrVideoMobile": "",
      "oItems": "",
      "oPaddingsTopBottom": "0",
      "oShowHonors": "0",
      "oTitle": {
        "markup": "<p>About author</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/b4a4985f1e8c467fb7ece0130ae202a0"
    },
    {
      "contentTypeKey": "fe21ce6e-f591-4c6a-a0aa-3e396f41fc79",
      "oBackgroundColor": "",
      "oBackgroundImage": "",
      "oFromColor": "",
      "oIsBlogPaddings": "0",
      "oIsTextCentered": "0",
      "oTextColor": "",
      "oToColor": "",
      "udi": "umb://element/fb468c6646cb458da19fe4b278a3645a"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[0]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>