<?xml version="1.0" encoding="utf-8"?>
<Content Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf" Alias="OSKI digital agency" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OSKIDigitalAgency</Path>
    <Trashed>false</Trashed>
    <ContentType>oHome</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="OSKI digital agency">
      <Name Culture="en-us">OSKI digital agency</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="84cb0c40-93b6-4af4-88bc-c2195caf078b">Home</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[umb://media/0ee70acd4a93436e8cd4de38465f6f60]]></Value>
    </favicon>
    <oBurgerMenuCaption>
      <Value Culture="en-us"><![CDATA[Menu]]></Value>
    </oBurgerMenuCaption>
    <oButtons>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ba9f5070973d42e89acc83935662acfd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3c8f13c-400f-4bd6-8818-857639c21a37",
      "oButtonName": "Contact us",
      "oButtonUrl": [
        {
          "name": "ContactTest",
          "udi": "umb://document/1620943b0ed54b21aafd019863e8d4e7"
        }
      ],
      "udi": "umb://element/ba9f5070973d42e89acc83935662acfd"
    }
  ],
  "settingsData": []
}]]></Value>
    </oButtons>
    <oContacts>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f34e136282b47ea94f8480eaabbe183"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d965a3eb-aba1-46f3-b3dc-d986ba27e5c5",
      "oItems": "Our agency crafts custom software solutions with clean, efficient code and a strong focus on quality. We specialize in Umbraco, Vue.js, React.js, Angular, and .NET/Core—building scalable, high-performance applications. By staying ahead of technology trends, we deliver innovative and future-ready systems that drive real business growth.\n1234 Demo Street, Suite 100, Sample City, Country",
      "oLinks": "",
      "oTitle": "About Us",
      "udi": "umb://element/5f34e136282b47ea94f8480eaabbe183"
    }
  ],
  "settingsData": []
}]]></Value>
    </oContacts>
    <oContent>
      <Value Culture="en-us"><![CDATA[umb://document/fcb071b2ce2a4a44af060c265433e250]]></Value>
    </oContent>
    <oFooterLogo>
      <Value><![CDATA[]]></Value>
    </oFooterLogo>
    <oFooterNavigation>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8ca24dc3b76940199cf185f2f1f02b33"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d278b423-332a-4310-9794-f29e1c9791ea",
      "oItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fa916fc37c434cce81d89c696b8a0adc"
            },
            {
              "contentUdi": "umb://element/f5530c25349949d58eda54d2e4a333eb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e5524c14-ccf7-4a4d-bbc3-9b191e0b1e1b",
            "oLink": [
              {
                "name": "Progressive Web Apps",
                "udi": "umb://document/4a86bb36ee534139ad57eab1d3bee571"
              }
            ],
            "oTitle": "Progressive Web Apps",
            "udi": "umb://element/fa916fc37c434cce81d89c696b8a0adc"
          },
          {
            "contentTypeKey": "e5524c14-ccf7-4a4d-bbc3-9b191e0b1e1b",
            "oLink": [
              {
                "name": "Integration and management",
                "udi": "umb://document/09a439a3ab3e42c2ac24fa753ad0506b"
              }
            ],
            "oTitle": "Integration and management",
            "udi": "umb://element/f5530c25349949d58eda54d2e4a333eb"
          }
        ],
        "settingsData": []
      },
      "oTitle": "Use Cases",
      "udi": "umb://element/8ca24dc3b76940199cf185f2f1f02b33"
    }
  ],
  "settingsData": []
}]]></Value>
    </oFooterNavigation>
    <oHeaderLogo>
      <Value><![CDATA[umb://media/34c21a563aff4e01a6e14b7897ba54f0]]></Value>
    </oHeaderLogo>
    <oHeaderMenuItems>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/265fb315fee44520b0767ca7fd19fb37"
      },
      {
        "contentUdi": "umb://element/111d6c168297448f83c48a1e012dee77"
      },
      {
        "contentUdi": "umb://element/0e60413657ec4c8eacefbc9d20f6ebed"
      },
      {
        "contentUdi": "umb://element/d558c47ced784be6897c5fe3a27be057"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "What We Do?",
      "oChildMenuItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8fa2e11361644a1794234c9c49150ddf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "Cloud Solutions",
            "oChildMenuItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/714c485ff0c84786a9e194786b81d997"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
                  "oCaption": "Computing",
                  "oChildMenuItems": "",
                  "oCountOfColumns": "",
                  "oIsGrid": "0",
                  "oLink": [
                    {
                      "name": "Computing",
                      "udi": "umb://document/f1843567a0f54d6190ac836085344f6e"
                    }
                  ],
                  "oShowLinkAsAButton": "0",
                  "rowIndex": "",
                  "udi": "umb://element/714c485ff0c84786a9e194786b81d997"
                }
              ],
              "settingsData": []
            },
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "Cloud Solutions",
                "udi": "umb://document/d5959b7de6164c5fb41899e71100e1ce"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/8fa2e11361644a1794234c9c49150ddf"
          }
        ],
        "settingsData": []
      },
      "oCountOfColumns": "3",
      "oIsGrid": "1",
      "oLink": [
        {
          "name": "Cooperation",
          "udi": "umb://document/d492c952d9334b73b8e01bf82e4a57b4"
        }
      ],
      "oShowLinkAsAButton": "0",
      "rowIndex": "",
      "udi": "umb://element/265fb315fee44520b0767ca7fd19fb37"
    },
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "Tech Stack",
      "oChildMenuItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/96673251280f4d73af42ca7d4070acf0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "CMS",
            "oChildMenuItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a11436b95e4143febd1392168d18bdeb"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
                  "oCaption": "Umbraco",
                  "oChildMenuItems": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/7ea6312b951f4a3eb944780ee1ed4ab1"
                        },
                        {
                          "contentUdi": "umb://element/eb7807e32a024650a62fd42bdf35278f"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
                        "oCaption": "Umbraco development",
                        "oChildMenuItems": "",
                        "oCountOfColumns": "",
                        "oIsGrid": "0",
                        "oLink": [
                          {
                            "name": "Umbraco development and support",
                            "udi": "umb://document/46cd8ce300724395bc11967a6ff4004a"
                          }
                        ],
                        "oShowLinkAsAButton": "0",
                        "udi": "umb://element/7ea6312b951f4a3eb944780ee1ed4ab1"
                      },
                      {
                        "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
                        "oCaption": "Key steps",
                        "oChildMenuItems": "",
                        "oCountOfColumns": "",
                        "oIsGrid": "0",
                        "oLink": [
                          {
                            "name": "Key steps of Umbraco development",
                            "udi": "umb://document/b8eb6ed26f1c45a98bfe4963817a9be9"
                          }
                        ],
                        "oShowLinkAsAButton": "0",
                        "udi": "umb://element/eb7807e32a024650a62fd42bdf35278f"
                      }
                    ],
                    "settingsData": []
                  },
                  "oCountOfColumns": "",
                  "oIsGrid": "0",
                  "oLink": [
                    {
                      "name": "Umbraco",
                      "udi": "umb://document/0404cab3287e439ea4dfd45cae0b0706"
                    }
                  ],
                  "oShowLinkAsAButton": "0",
                  "rowIndex": "",
                  "udi": "umb://element/a11436b95e4143febd1392168d18bdeb"
                }
              ],
              "settingsData": []
            },
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "CMS",
                "udi": "umb://document/361be64bb3db4d1f80465521d5954ad1"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/96673251280f4d73af42ca7d4070acf0"
          }
        ],
        "settingsData": []
      },
      "oCountOfColumns": "4",
      "oIsGrid": "1",
      "oLink": [
        {
          "name": "Technologies",
          "udi": "umb://document/133e301718ff4fea82d567325a502e06"
        }
      ],
      "oShowLinkAsAButton": "1",
      "rowIndex": "",
      "udi": "umb://element/111d6c168297448f83c48a1e012dee77"
    },
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "Use Cases",
      "oChildMenuItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b1fa06a60ae64748bfe0f7ddb08ca5d2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "Integration and Management Cases",
            "oChildMenuItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a1b49f38cc074f27b702d57e36365c05"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
                  "oCaption": "Progressive Web Apps",
                  "oChildMenuItems": "",
                  "oCountOfColumns": "",
                  "oIsGrid": "0",
                  "oLink": [
                    {
                      "name": "Progressive Web Apps",
                      "udi": "umb://document/4a86bb36ee534139ad57eab1d3bee571"
                    }
                  ],
                  "oShowLinkAsAButton": "0",
                  "rowIndex": "",
                  "udi": "umb://element/a1b49f38cc074f27b702d57e36365c05"
                }
              ],
              "settingsData": []
            },
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "Integration and management",
                "udi": "umb://document/09a439a3ab3e42c2ac24fa753ad0506b"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/b1fa06a60ae64748bfe0f7ddb08ca5d2"
          }
        ],
        "settingsData": []
      },
      "oCountOfColumns": "3",
      "oIsGrid": "1",
      "oLink": [
        {
          "name": "Solutions",
          "udi": "umb://document/8079bfabf1d64976a6f8e3fd2aa0bbcc"
        }
      ],
      "oShowLinkAsAButton": "1",
      "rowIndex": "",
      "udi": "umb://element/0e60413657ec4c8eacefbc9d20f6ebed"
    },
    {
      "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
      "oCaption": "About Us",
      "oChildMenuItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/06287759ff32417185199eabbd0e966a"
            },
            {
              "contentUdi": "umb://element/4f45f911c0dd4ba6a6aa28ef43f50405"
            },
            {
              "contentUdi": "umb://element/33d5f83b0b3746cdbbc246c21343a664"
            },
            {
              "contentUdi": "umb://element/76b169eadd514aa6bbfbe99c94336f9e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "Our Company",
            "oChildMenuItems": "",
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "Our company",
                "udi": "umb://document/6c027c6c7dd74540b89741af0472e52a"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/06287759ff32417185199eabbd0e966a"
          },
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "Blog",
            "oChildMenuItems": "",
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "Articles and news",
                "udi": "umb://document/4bb03eecf5aa41aab859ed71f26bd0f8"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/4f45f911c0dd4ba6a6aa28ef43f50405"
          },
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "Job opportunities",
            "oChildMenuItems": "",
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "Careers",
                "udi": "umb://document/45d2a9d0ee1b4c6783e6c14569bde12d"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/33d5f83b0b3746cdbbc246c21343a664"
          },
          {
            "contentTypeKey": "8e1f4647-038e-4e62-bd33-161fece5b160",
            "oCaption": "Internship",
            "oChildMenuItems": "",
            "oCountOfColumns": "",
            "oIsGrid": "0",
            "oLink": [
              {
                "name": "Internship",
                "udi": "umb://document/fe9987e8b1374a7f9580e4cf2675ba09"
              }
            ],
            "oShowLinkAsAButton": "0",
            "rowIndex": "",
            "udi": "umb://element/76b169eadd514aa6bbfbe99c94336f9e"
          }
        ],
        "settingsData": []
      },
      "oCountOfColumns": "5",
      "oIsGrid": "1",
      "oLink": [
        {
          "udi": "umb://document/8f742189ae7d469aa8c8f25e12fccccf"
        }
      ],
      "oShowLinkAsAButton": "1",
      "rowIndex": "",
      "udi": "umb://element/d558c47ced784be6897c5fe3a27be057"
    }
  ],
  "settingsData": []
}]]></Value>
    </oHeaderMenuItems>
    <oHeaderMenuSocialLinks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/edf20504937c43139b1c1ac4354425c3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
      "oIcon": "umb://media/a6fe8be8b05d42c2a7203077e630e464",
      "oSocialNetworkName": "",
      "oUrl": [
        {
          "name": "linkedin",
          "target": "_blank",
          "url": "https://www.linkedin.com/company/oski-solutions"
        }
      ],
      "udi": "umb://element/edf20504937c43139b1c1ac4354425c3"
    }
  ],
  "settingsData": []
}]]></Value>
    </oHeaderMenuSocialLinks>
    <oHideContactsArea>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </oHideContactsArea>
    <oMetaDescription>
      <Value Culture="en-us"><![CDATA[OSKI Software Solutions is your trusted partner in custom software development, cloud services, and AI integration. We empower tech-forward enterprises and start-ups with scalable, high-quality solutions tailored to your unique business needs. Contact us today!]]></Value>
    </oMetaDescription>
    <oMetaTitle>
      <Value Culture="en-us"><![CDATA[Software Solutions | Expert Software Development & Cloud Services for Enterprises Oski Solutions]]></Value>
    </oMetaTitle>
    <oNeedHelpText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Get answers to your questions from our Success Manager. <a rel=\"noopener\" href=\"https://meetings-eu1.hubspot.com/daria-dasiuk\" target=\"_blank\" data-anchor=\"#\">Meet with Success Manager →</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </oNeedHelpText>
    <oNeedHelpTitle>
      <Value Culture="en-us"><![CDATA[Need help?]]></Value>
    </oNeedHelpTitle>
    <oServices>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ddc4f655c0de4cc18e4a8ec0aea87743"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d278b423-332a-4310-9794-f29e1c9791ea",
      "oItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9b46dc5947f44288869ab274f94155e5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e5524c14-ccf7-4a4d-bbc3-9b191e0b1e1b",
            "oLink": [
              {
                "name": "Cloud Solutions",
                "udi": "umb://document/d5959b7de6164c5fb41899e71100e1ce"
              }
            ],
            "oTitle": "Cloud Solutions",
            "udi": "umb://element/9b46dc5947f44288869ab274f94155e5"
          }
        ],
        "settingsData": []
      },
      "oTitle": "Cooperation",
      "udi": "umb://element/ddc4f655c0de4cc18e4a8ec0aea87743"
    }
  ],
  "settingsData": []
}]]></Value>
    </oServices>
    <oShowLanguagesSwitch>
      <Value><![CDATA[1]]></Value>
    </oShowLanguagesSwitch>
    <oSocialLinks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ae1f2f195b2247db89fb257a074a1dc5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c411a0d3-6505-4a8f-9c53-6d67994db524",
      "oIcon": "umb://media/3e5c2abe8e224ca8a335e10c63780a96",
      "oSocialNetworkName": "",
      "oUrl": [
        {
          "name": "",
          "udi": "umb://document/95c5da7da0f94da1a8a34a4aef2271cf",
          "queryString": ""
        }
      ],
      "udi": "umb://element/ae1f2f195b2247db89fb257a074a1dc5"
    }
  ],
  "settingsData": []
}]]></Value>
    </oSocialLinks>
    <oStyles>
      <Value Culture="en-us"><![CDATA[[
  "default"
]]]></Value>
    </oStyles>
    <oSuccessManagerName>
      <Value Culture="en-us"><![CDATA[Daria Dasiuk]]></Value>
    </oSuccessManagerName>
    <oSuccessManagerPhoto>
      <Value><![CDATA[umb://media/1ab7aab8187649e4abb3306c1ec17375]]></Value>
    </oSuccessManagerPhoto>
    <oSuccessManagerPosition>
      <Value Culture="en-us"><![CDATA[Customer Success Manager]]></Value>
    </oSuccessManagerPosition>
    <privacyPolicy>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Privacy Policy",
    "udi": "umb://document/075a30764b014d28b3e51bc414e50beb"
  }
]]]></Value>
    </privacyPolicy>
    <showDesktopNeedHelpMenu>
      <Value><![CDATA[0]]></Value>
    </showDesktopNeedHelpMenu>
  </Properties>
</Content>