<?xml version="1.0" encoding="utf-8"?>
<Content Key="c079090c-b1e9-463b-aad3-f0b11b9aae54" Alias="Page404" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Page404</Path>
    <Trashed>false</Trashed>
    <ContentType>oPage404</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Page404">
      <Name Culture="en-us">Page404</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="48317a50-39e1-4cf2-af09-cd317285e2bf">page404</Template>
  </Info>
  <Properties>
    <oBackgroundImage>
      <Value><![CDATA[umb://media/6af8fc13d7ae49f3914a932a2b12e4be]]></Value>
    </oBackgroundImage>
    <oErrorCode>
      <Value Culture="en-us"><![CDATA[404]]></Value>
    </oErrorCode>
    <oErrorDescription>
      <Value Culture="en-us"><![CDATA[We are sorry, something went wrong]]></Value>
    </oErrorDescription>
    <oErrorName>
      <Value Culture="en-us"><![CDATA[PAGE NOT FOUND]]></Value>
    </oErrorName>
    <oLink>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Contact",
    "udi": "umb://document/1620943b0ed54b21aafd019863e8d4e7"
  }
]]]></Value>
    </oLink>
    <oMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oMetaDescription>
    <oMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oMetaTitle>
  </Properties>
</Content>