<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c90e012-fac2-4a46-a2a2-8a60a8318a97" Alias="Search..." Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>oSimplePage</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="Search...">
      <Name Culture="en-us">Search...</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f27cd58f-7582-4313-9a9d-a4fcc8445c9d">PageContentLayout</Template>
  </Info>
  <Properties>
    <oMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oMetaDescription>
    <oMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oMetaTitle>
    <oPageContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d61fb6fad23840f69c541ab62ed55e6f"
      },
      {
        "contentUdi": "umb://element/f7a64bc1bae84725b6e43f9a56b34efe"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "eca0c8e5-a919-47d5-8efe-e6a6b38d3a11",
      "oButton": "",
      "oFontColor": {
        "value": "000000",
        "label": "Black",
        "sortOrder": 0,
        "id": "1"
      },
      "oHonors": "",
      "oImageOrVideoDesktop": "umb://media/3d3dbc94c1214027ac47929944f7e3ea",
      "oImageOrVideoMobile": "umb://media/3d3dbc94c1214027ac47929944f7e3ea",
      "oItems": "",
      "oShowHonors": "",
      "oTitle": {
        "markup": "Search",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/d61fb6fad23840f69c541ab62ed55e6f"
    },
    {
      "contentTypeKey": "a1976834-ad68-43ee-8bf9-74f6b6653bfe",
      "oCaptionDefault": "whole site",
      "oDropdown": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2e44626656e546428d87ac45273c1906"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7a496516-205f-43e3-aeac-3d61163bb763",
            "oCaption": "only in news",
            "oValue": [
              "InNews"
            ],
            "udi": "umb://element/2e44626656e546428d87ac45273c1906"
          }
        ],
        "settingsData": []
      },
      "oNumberOfSearchResults": "3",
      "oPlaceholderSearch": "Search",
      "oValueDefault": [
        "AllSite"
      ],
      "udi": "umb://element/f7a64bc1bae84725b6e43f9a56b34efe"
    }
  ],
  "settingsData": []
}]]></Value>
    </oPageContent>
  </Properties>
</Content>