<?xml version="1.0" encoding="utf-8"?>
<Content Key="8079bfab-f1d6-4976-a6f8-e3fd2aa0bbcc" Alias="Solutions" Level="2">
  <Info>
    <Parent Key="95c5da7d-a0f9-4da1-a8a3-4a4aef2271cf">OSKI digital agency</Parent>
    <Path>/OSKIDigitalAgency/Solutions</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2025-08-02T10:34:36</CreateDate>
    <NodeName Default="Solutions">
      <Name Culture="en-us">Solutions</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
  </Info>
  <Properties>
    <blogGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c80b6299a9b0462b8283826ff6ffea45",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4dd99dd2b7884ec4bde0dd0703cad488",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4abcc3715b8c4cee96297f7df8084b58",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ca086bed144248c688fafdff09a00d51",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1731e7cd9ab845efb0d294fa5b5fb5fc",
        "areas": [
          {
            "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
            "items": [
              {
                "contentUdi": "umb://element/f57303acd9884ee1b21688f448cfd620",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
            "items": [
              {
                "contentUdi": "umb://element/89da68ffa23a40a4a0004b937875cf49",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ee3ea8b2648f48a9b5232346a9eaa04c",
        "areas": [
          {
            "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
            "items": [
              {
                "contentUdi": "umb://element/b620cb6824cd4f72b7efabf0007002af",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
            "items": [
              {
                "contentUdi": "umb://element/8520dfb39a9f4f36984c10601aad1905",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/589db7e967b545909fb698fd54ad5a8c",
        "areas": [
          {
            "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
            "items": [
              {
                "contentUdi": "umb://element/892d87d64d9c4e84b0f933149cc96c8a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
            "items": [
              {
                "contentUdi": "umb://element/beeff01b4b6b4064adcc56ae0ecc388b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d32c2f1124f44a2791fffd66e44b972b",
        "areas": [
          {
            "key": "7c23f0b2-f57b-4c49-954e-9dcf5f0a7783",
            "items": [
              {
                "contentUdi": "umb://element/9c9c06f11d3d46508310a2426a853e47",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd6b0661-e2b9-4d28-81b4-6e3b8afddb48",
            "items": [
              {
                "contentUdi": "umb://element/e010e1e4b55a418183b7f0cc9328b1eb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a7161d64e264464280593fd02c5dee1b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b63df33634784793867344c95e4e4c3e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2e4cd049-1cb4-4bd0-a326-6ea874708582",
      "oBackgroundColor": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      },
      "oButton": "",
      "oFontColor": {
        "value": "ffffff",
        "label": "White",
        "sortOrder": 1,
        "id": "2"
      },
      "oHonors": "",
      "oImageOrVideoDesktop": "umb://media/b586125f1cb3442eaab54cd5d3af662f",
      "oImageOrVideoMobile": "",
      "oItems": "",
      "oPaddingsTopBottom": "0",
      "oShowHonors": "0",
      "oTitle": {
        "markup": "<p>Solution</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c80b6299a9b0462b8283826ff6ffea45"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<p data-start=\"180\" data-end=\"371\">At Oski Solutions, we are dedicated to delivering exceptional technical solutions that help businesses streamline operations and boost efficiency. Here are some of the key solutions we offer:</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/ca086bed144248c688fafdff09a00d51"
    },
    {
      "contentTypeKey": "e5900889-d823-4510-8ccb-f5347d66544f",
      "oBackgroundStyle": [
        "dark"
      ],
      "oButtonName": "Send",
      "oEmail": "contact@oski.site",
      "oIsFullWidth": "1",
      "oPlaceholderForMessage": "Message to OSKI Solutions",
      "oRecaptcha": "0",
      "oSubject": "Quick Contact Form - Solution",
      "oSubTitle": "",
      "oTitle": "Let’s discuss your new project ",
      "udi": "umb://element/b63df33634784793867344c95e4e4c3e"
    },
    {
      "contentTypeKey": "9b652cb4-af47-4110-a41f-36af3c80a78b",
      "udi": "umb://element/4dd99dd2b7884ec4bde0dd0703cad488"
    },
    {
      "contentTypeKey": "7ab2b5d6-c1a2-4ff1-af4a-bc534b67560c",
      "oRichTextEditor": "Technical Solutions Oski Solutions Excels In",
      "udi": "umb://element/4abcc3715b8c4cee96297f7df8084b58"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/1731e7cd9ab845efb0d294fa5b5fb5fc"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/ee3ea8b2648f48a9b5232346a9eaa04c"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/589db7e967b545909fb698fd54ad5a8c"
    },
    {
      "contentTypeKey": "169a8e8d-698e-4c9a-b0cd-d94185ff4281",
      "udi": "umb://element/d32c2f1124f44a2791fffd66e44b972b"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"378\" data-end=\"399\">API Integration</h3>\n<p data-start=\"400\" data-end=\"556\">Our experts ensure seamless integration of third-party APIs with your existing systems, enhancing functionality and enabling smooth, reliable data exchange.</p>\n<p><a href=\"/{localLink:umb://document/abc9db4dce854208a0251f8158d94d68}\" title=\"API integration\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/f57303acd9884ee1b21688f448cfd620"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"563\" data-end=\"588\">CRM &amp; HRM Solutions</h3>\n<p data-start=\"589\" data-end=\"850\">Understanding that every business has unique needs, we provide tailored CRM and HRM systems designed to optimize your workflows and increase overall efficiency. We collaborate closely with you to develop solutions aligned with your specific goals.</p>\n<p><a href=\"/{localLink:umb://document/deb6c98bf0c640148bfba486e4274ae6}\" title=\"CRM\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/8520dfb39a9f4f36984c10601aad1905"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"857\" data-end=\"883\">Progressive Web Apps</h3>\n<p data-start=\"884\" data-end=\"1094\">We specialize in building progressive web applications that deliver a consistent, responsive user experience across all devices. Harnessing our expertise, we help increase user engagement and drive conversions.</p>\n<p><a href=\"/{localLink:umb://document/4a86bb36ee534139ad57eab1d3bee571}\" title=\"Progressive Web Apps\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/892d87d64d9c4e84b0f933149cc96c8a"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<h3 data-start=\"1101\" data-end=\"1134\">Custom Software Development</h3>\n<p data-start=\"1135\" data-end=\"1347\">Our experienced developers create bespoke software solutions that simplify your business processes and enhance productivity. We focus on custom finance and mobile software tailored precisely to your requirements.</p>\n<p><a href=\"/{localLink:umb://document/b146394972fc442e880c7e705354854b}\" title=\"Desktop Application\" class=\"top__button\">Read more</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/e010e1e4b55a418183b7f0cc9328b1eb"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/7911dd12df9b4054be77bebd6755c43c",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/89da68ffa23a40a4a0004b937875cf49"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/01dd63df88bd404a866072a799ec7f69",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/b620cb6824cd4f72b7efabf0007002af"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/9a9208525ece4fa8aad8a8b2dcff3ad7",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/beeff01b4b6b4064adcc56ae0ecc388b"
    },
    {
      "contentTypeKey": "1d5e2202-ad8a-4b49-85ef-775e26d59309",
      "oBorderRadius": "",
      "oDisplayTarget": "",
      "oHeight": "",
      "oImage": "umb://media/9984ef5bc4664263b4c3acb0b4193bad",
      "oIsCircle": "0",
      "oUrl": "",
      "oWidth": "",
      "udi": "umb://element/9c9c06f11d3d46508310a2426a853e47"
    },
    {
      "contentTypeKey": "52f06e80-2ab7-4b8d-b04e-839a2e1ef950",
      "oTextColor": "",
      "text": {
        "markup": "<p>At our company, we take satisfaction in delivering technical solutions specifically designed to meet your requirements. Whether you need API integration, custom software development, or a progressive web app, our team has the know-how and experience to help you achieve your objectives. Contact us today to discover how we can help you elevate your business to new heights.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/a7161d64e264464280593fd02c5dee1b"
    }
  ],
  "settingsData": []
}]]></Value>
    </blogGrid>
    <oLatestArticles>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </oLatestArticles>
    <oShowLeftMenu>
      <Value><![CDATA[1]]></Value>
    </oShowLeftMenu>
  </Properties>
</Content>