<?xml version="1.0" encoding="utf-8"?>
<Media Key="967ce949-a8fd-4c06-9b83-0a9b20e5eaf9" Alias="01 Symbol Primary Blue Docker Logo" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/SymbolPrimaryBlueDockerLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="01 Symbol Primary Blue Docker Logo" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[docker]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/khuhzfx3/01-symbol_primary-blue-docker-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>