<?xml version="1.0" encoding="utf-8"?>
<Media Key="a260b43e-31f5-45d3-82c4-39e9abcad66c" Alias="1907.I109.039.P.M004.C30.Programming Development Isometric Icons 12" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/I109039PM004C30ProgrammingDevelopmentIsometricIcons12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="1907.I109.039.P.M004.C30.Programming Development Isometric Icons 12" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/hc0gbixv/web2-1.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>