<?xml version="1.0" encoding="utf-8"?>
<Media Key="db151f0c-090f-4823-8fdc-49c1eab7d765" Alias="Airplane" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Airplane</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Airplane" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[Travelling]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/cqpblwyp/airplane.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>