<?xml version="1.0" encoding="utf-8"?>
<Media Key="4120bf9b-87da-4076-95e0-8e3ad6471642" Alias="Amazon Web Services Logo" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/AmazonWebServicesLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Amazon Web Services Logo" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[aws]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/qo5daqo0/amazon_web_services_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>