<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1869cff-efc0-471f-8fe2-c5b67fb1d1a9" Alias="Amazon Lambda Architecture Logo" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/AmazonLambdaArchitectureLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Amazon Lambda Architecture Logo" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[a_image]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/24oinqoa/amazon_lambda_architecture_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>