<?xml version="1.0" encoding="utf-8"?>
<Media Key="76262949-e74a-426c-9b47-de7378817f1f" Alias="Angular" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Angular</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Angular" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[angular]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/keudm3sk/angular.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>