<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a862885-fee7-4dd8-9abf-423edbd0ea7d" Alias="Barcode 2 Svgrepo Com" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Barcode2SvgrepoCom</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Barcode 2 Svgrepo Com" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[Retail]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/tuuincxh/barcode-2-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>