<?xml version="1.0" encoding="utf-8"?>
<Media Key="16643da4-04b9-45cc-83c6-ab826a71670e" Alias="Blog" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties />
</Media>