<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bd39a36-641c-4c2f-929e-129e98e90b3e" Alias="Book Svgrepo.Com" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/BookSvgrepoCom</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Book Svgrepo.Com" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[book]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/f0nngwy2/book_svgrepocom.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>