<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1542ab9-f212-4cda-a66f-e3e172b3fb2e" Alias="Code" Level="3">
  <Info>
    <Parent Key="982125d7-d615-4814-8029-c6bd08f026eb">topimagine</Parent>
    <Path>/OskiStarterKit12/topimagine/Code</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Code" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[code_image]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/x2vfjuis/code.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>