<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9d5a2d9-f9b4-4bfc-9cf8-86ced7e7ebd7" Alias="Copy Files Svgrepo Com 32X32" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/CopyFilesSvgrepoCom32X32</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Copy Files Svgrepo Com 32X32" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/ygrnlonu/copy-files-svgrepo-com__32x32.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>