<?xml version="1.0" encoding="utf-8"?>
<Media Key="82e6c1d4-0e29-4f29-bf8b-dad2ac9b8695" Alias="CSS3 Logo" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/CSS3Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="CSS3 Logo" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[html_css]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/ztapnarj/css3_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>