<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ab7aab8-1876-49e4-abb3-306c1ec17375" Alias="Customer Success Managerjpg" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/CustomerSuccessManagerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Customer Success Managerjpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[diffences_image]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/x0vlogtw/customer_success_managerjpg.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>