<?xml version="1.0" encoding="utf-8"?>
<Media Key="32aa83b0-18b5-42fb-a4c9-b65bb693acc2" Alias="DALL·E 2024 06 27 20.16.53 A Clean, Modern Logo Design For Umbraco CMS. The Logo Should Feature A Simple And Recognizable Icon That Represents Content Management And Ease Of Use" Level="3">
  <Info>
    <Parent Key="4c9b6cb0-1801-4b66-b026-a4e3973a72df">2024</Parent>
    <Path>/OskiStarterKit12//DALLE20240627201653ACleanModernLogoDesignForUmbracoCMSTheLogoShouldFeatureASimpleAndRecognizableIconThatRepresentsContentManagementAndEaseOfUse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="DALL·E 2024 06 27 20.16.53 A Clean, Modern Logo Design For Umbraco CMS. The Logo Should Feature A Simple And Recognizable Icon That Represents Content Management And Ease Of Use" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/w0blumvv/dall-e-2024-06-27-201653-a-clean-modern-logo-design-for-umbraco-cms-the-logo-should-feature-a-simple-and-recognizable-icon-that-represents-content-management-and-ease-of-use.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>