<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b44d455-fb16-46ba-892f-373c75875a3c" Alias="Doing Icon1" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/DoingIcon1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Doing Icon1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/jxkeisyw/doing-icon1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>