<?xml version="1.0" encoding="utf-8"?>
<Media Key="904e0e75-799f-49f7-a708-75d3c17c93fe" Alias="Doing Icon3" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/DoingIcon3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Doing Icon3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[ui/ux]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/nuhe3ee5/doing-icon3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>