<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdfde4fb-50c7-479b-a672-9a6740d6b1e9" Alias="Facebook (1)" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Facebook1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Facebook (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/2psp15oh/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>