<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db393f7-eed4-4bb1-b362-85490994d9df" Alias="Free Icon Space Exploration 9821379" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/FreeIconSpaceExploration9821379</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Free Icon Space Exploration 9821379" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/4gjlg1ou/free-icon-space-exploration-9821379.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>