<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd92640f-56cf-4c39-add0-980a0a256cae" Alias="Generated Images" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/GeneratedImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Generated Images" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties />
</Media>