<?xml version="1.0" encoding="utf-8"?>
<Media Key="e80f5614-be61-4885-9569-1efcd37a001f" Alias="Google Cloud 2" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/GoogleCloud2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Google Cloud 2" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[g_cloud]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/brla50db/google-cloud-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>