<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e5c2abe-8e22-4ca8-a335-e10c63780a96" Alias="Groupped Items" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/GrouppedItems</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Groupped Items" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/uyvfyprc/groupped-items.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>