<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159" Alias="icons" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>