<?xml version="1.0" encoding="utf-8"?>
<Media Key="8187082d-21af-4b94-ae1c-9fa19540ca73" Alias="Idea" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/Idea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Idea" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/fmeipanp/idea.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>