<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8f47ac4-c55c-4c8c-9cfc-774e602af4f5" Alias="IMAGE (15)" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/IMAGE15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="IMAGE (15)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[blocks_dev]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/yj3pjwc2/image-2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>