<?xml version="1.0" encoding="utf-8"?>
<Media Key="d529fbc7-a5de-49ae-b8cf-4b51776712b4" Alias="Image (9)" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/Image9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Image (9)" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/yh3dtvo4/image-1.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>