<?xml version="1.0" encoding="utf-8"?>
<Media Key="890b1129-29e9-4e8d-870f-90971acac0a1" Alias="Image4" Level="4">
  <Info>
    <Parent Key="e135e145-4222-4482-a0a6-1d29c38c5cfb">Umbraco plugin for removing unused media</Parent>
    <Path>/OskiStarterKit12/ArticlesAndNews/UmbracoPluginForRemovingUnusedMedia/Image4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Image4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/f2ibxcpj/image4.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>