<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb93620d-5696-4ce2-9fc3-550015143125" Alias="Intership Top" Level="3">
  <Info>
    <Parent Key="df7cefa5-281c-4779-a0b6-77d09c754d71">intership</Parent>
    <Path>/OskiStarterKit12/intership/IntershipTop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Intership Top" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[team_image]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/bnrjh02w/intership_top.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>