<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd4b6c1c-c00f-43e1-b76f-945506cd53d7" Alias="Linkedin (2)" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Linkedin2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Linkedin (2)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/arwexpip/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>