<?xml version="1.0" encoding="utf-8"?>
<Media Key="34c21a56-3aff-4e01-a6e1-4b7897ba54f0" Alias="Logo Header" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/LogoHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Logo Header" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/jynmenh5/logo-header.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>