<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ee70acd-4a93-436e-8cd4-de38465f6f60" Alias="Logo Oski Umbarco 02 Vertical" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/LogoOskiUmbarco02Vertical</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Logo Oski Umbarco 02 Vertical" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/0ufoodut/logo_oski_umbarco-02_vertical.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>