<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ebaf634-fc1b-43f8-8693-a77c176a9b86" Alias="Microsoft Azure" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/MicrosoftAzure</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Microsoft Azure" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[azure_image]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/ft1lu1q1/microsoft_azure.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>