<?xml version="1.0" encoding="utf-8"?>
<Media Key="45353828-f12f-4fe9-838f-e3d472ab0d4c" Alias="Microsoft .NET Logo" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/MicrosoftNETLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Microsoft .NET Logo" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[dotnet]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/ga2dkrjp/microsoft_net_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>