<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2f2836c-1c5f-4b98-aef3-95c8e235ef3c" Alias="Next Js" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/NextJs</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Next Js" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[next]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/osbpf2s5/next-js.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>