<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c7b17b7-642c-4d41-b9d6-0e10e5d31ee3" Alias="Node.Js Logo" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/NodeJsLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Node.Js Logo" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[nodejs]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/v2lhxdbm/nodejs_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>