<?xml version="1.0" encoding="utf-8"?>
<Media Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b" Alias="OskiStarterKit12" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OskiStarterKit12</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="OskiStarterKit12" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>