<?xml version="1.0" encoding="utf-8"?>
<Media Key="361aee0b-17e7-435d-915d-47c6e85213a6" Alias="Pexels Johannes Plenio 1103970" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/PexelsJohannesPlenio1103970</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Pexels Johannes Plenio 1103970" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/bxxbunxh/pexels-johannes-plenio-1103970.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>