<?xml version="1.0" encoding="utf-8"?>
<Media Key="61103fe4-9020-4248-90d9-f85d243224a1" Alias="Pwa 1 (3)" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/Pwa13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Pwa 1 (3)" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/2i5bayja/pwa-1-1-1.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>