<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4d1b5ba-e499-4f6b-8790-14c72bb88cdf" Alias="Re An Vue" Level="3">
  <Info>
    <Parent Key="207ec378-6d84-4fd6-b382-080d702f356a">vectorfiles</Parent>
    <Path>/OskiStarterKit12/vectorfiles/ReAnVue</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Re An Vue" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[React Angular Vue]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/uk0ndzez/re_an_vue.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>