<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2174158-36d6-40a6-8559-5b2e2030c602" Alias="React" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/React</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="React" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[react]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/ibabpqww/react.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>