<?xml version="1.0" encoding="utf-8"?>
<Media Key="17978b5b-6ac7-4b97-8f9c-7570b782b058" Alias="React Native" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/ReactNative</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="React Native" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[react_native]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/iofjof4h/react-native.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>