<?xml version="1.0" encoding="utf-8"?>
<Media Key="becf1bc3-114f-41e2-9e02-e267ffed9f2e" Alias="Rotation Of The Planet Earth" Level="3">
  <Info>
    <Parent Key="7964ccbf-5908-4479-82f8-64ae625e6d42">Video</Parent>
    <Path>/OskiStarterKit12/Video/RotationOfThePlanetEarth</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Rotation Of The Planet Earth" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/1mnn5psp/rotation-of-the-planet-earth.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>