<?xml version="1.0" encoding="utf-8"?>
<Media Key="77aae769-3eba-49f1-bf29-cdafd9242cf0" Alias="Screenshot4 (1)" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/Screenshot41</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Screenshot4 (1)" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/n5tlu330/screenshot4.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>