<?xml version="1.0" encoding="utf-8"?>
<Media Key="daf64e28-ffc5-4145-a9c6-a2920895ab08" Alias="Skype" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Skype</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Skype" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/gbhpnwwf/skype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>