<?xml version="1.0" encoding="utf-8"?>
<Media Key="af553cf7-3e4b-471d-bb71-c5a8de714ad8" Alias="Sun Svgrepo Com" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/SunSvgrepoCom</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Sun Svgrepo Com" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[Energy]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/324fll0l/sun-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>