<?xml version="1.0" encoding="utf-8"?>
<Media Key="982125d7-d615-4814-8029-c6bd08f026eb" Alias="topimagine" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/topimagine</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="topimagine" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>