<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b0a5e12-b2a7-453c-b214-3f286888fcb5" Alias="Tutorpro2" Level="3">
  <Info>
    <Parent Key="cd6f7323-e80c-44c8-acb9-93114cb6ce7e">TutorPRO_article</Parent>
    <Path>/OskiStarterKit12/TutorPRO_article/Tutorpro2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Tutorpro2" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/crpaug3h/tutorpro2.jpeg]]></Value>
    </umbracoFile>
  </Properties>
</Media>