<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd6f7323-e80c-44c8-acb9-93114cb6ce7e" Alias="TutorPRO_article" Level="2">
  <Info>
    <Parent Key="71b8cc0c-ce0f-40d3-bbe0-52ead9483e3b">OskiStarterKit12</Parent>
    <Path>/OskiStarterKit12/TutorPRO_article</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="TutorPRO_article" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties />
</Media>