<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b8906b3-c0e1-435e-b80a-fc4261a2342c" Alias="Twitter (2)" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/Twitter2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Twitter (2)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/vmditg5b/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>