<?xml version="1.0" encoding="utf-8"?>
<Media Key="e135e145-4222-4482-a0a6-1d29c38c5cfb" Alias="Umbraco plugin for removing unused media" Level="3">
  <Info>
    <Parent Key="5a4f0840-2603-4756-8dc9-7f2019539701">Articles and News</Parent>
    <Path>/OskiStarterKit12/ArticlesAndNews/UmbracoPluginForRemovingUnusedMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Umbraco plugin for removing unused media" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>