<?xml version="1.0" encoding="utf-8"?>
<Media Key="5da043b7-25f6-4bbd-86ac-efcbd0b1c67d" Alias="Upwork Badge 180X81@2X" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/UpworkBadge180X812X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Upwork Badge 180X81@2X" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <croper>
      <Value><![CDATA[]]></Value>
    </croper>
    <umbracoAltText>
      <Value><![CDATA[upwork_100]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/wfblaxpw/upwork-badge-180x81-2x.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>