<?xml version="1.0" encoding="utf-8"?>
<Media Key="3df8f9b5-50e5-4fbf-94ad-3b447ce290b9" Alias="Vue Js" Level="3">
  <Info>
    <Parent Key="7e1cfb8f-1928-4c43-b22b-175bbd8b1159">icons</Parent>
    <Path>/OskiStarterKit12/icons/VueJs</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-02T10:34:37</CreateDate>
    <NodeName Default="Vue Js" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoAltText>
      <Value><![CDATA[vue]]></Value>
    </umbracoAltText>
    <umbracoFile>
      <Value><![CDATA[/media/vx2pqppf/vue-js.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>