<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ad1efec-3858-32c7-bb84-f7c2180689ba" Alias="BlockElement_macro" Level="3">
  <Info>
    <Name>Macro</Name>
    <Icon>icon-settings-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Converted from Grid Macro element</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlockGrid/Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>96edb3a8-afac-4dc7-b882-b977f7f32ed1</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>