<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c39551b-b060-3cd7-b75e-13a44416e721" Alias="BlockGridLayout_HalfWithRightShift" Level="3">
  <Info>
    <Name>Half with right shift</Name>
    <Icon>icon-layout color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Grid Layoutblock</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlockGrid/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>888e843c-b476-4ddd-b707-8b7ed1d72961</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>