<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d961a393-46ea-4e5a-8708-891da8b98174" Alias="blockGridPage" Level="2">
  <Info>
    <Name>Block grid page</Name>
    <Icon>icon-blueprint color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>BlockGridPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0792027b-5012-4142-a9ab-248aeb0cfe39">BlockGridPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d961a393-46ea-4e5a-8708-891da8b98174" SortOrder="0">blockGridPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5080dceb-6466-4595-8870-521f1c25c1af</Key>
      <Name>Blog grid</Name>
      <Alias>blogGrid</Alias>
      <Definition>25a03432-f832-417a-a833-ae3b8b4d3154</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce20e2a0-cedb-4100-beac-e48b81760568</Key>
      <Name>LatestArticles</Name>
      <Alias>oLatestArticles</Alias>
      <Definition>15288a24-02f4-4244-98ab-9c0e271883ff</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8905e5c5-351e-473b-bea5-32234eba85d2</Key>
      <Name>Show left menu</Name>
      <Alias>oShowLeftMenu</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f4ec1a16-f9dc-4270-9d5a-123b39ad9845</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>