<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65b260e3-2060-3376-9182-277a3566c721" Alias="BlockGridLayout_Article" Level="3">
  <Info>
    <Name>Article</Name>
    <Icon>icon-layout color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Grid Layoutblock</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlockGrid/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>baed199a-c0e9-4913-82da-86c89e568393</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>