<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19e72427-ed56-3e4b-909b-acf6d5d624ca" Alias="BlockGridLayout_Full" Level="3">
  <Info>
    <Name>Full</Name>
    <Icon>icon-layout color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Grid Layoutblock</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlockGrid/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>abcbd13e-1cb1-4ea8-ac12-592de6ea6792</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>