<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a72256c-2acf-448b-ac63-c6ab90af6de5" Alias="oAboutUsPage" Level="1">
  <Info>
    <Name>About us Page</Name>
    <Icon>icon-info color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="eca0c8e5-a919-47d5-8efe-e6a6b38d3a11">oFullScreenTopContainer</Composition>
    </Compositions>
    <DefaultTemplate>AboutUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eddd8a71-3d93-4055-8758-c411a2dfd77b">AboutUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da9daff7-554a-4135-924b-998da08ce3d8" SortOrder="0">oGenericAboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>dbcebd12-da44-4d0d-91de-9cf45c2ff341</Key>
      <Name>Content</Name>
      <Alias>oContent</Alias>
      <Definition>f617209d-3911-408d-8de8-9928190e702f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71bee4a0-0883-4d96-9238-eeecf7c9548f</Key>
      <Name>Links</Name>
      <Alias>oLinks</Alias>
      <Definition>b3272231-a1f6-4593-9f4c-232ce6f3e4f2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4a0d0775-3281-4001-8d41-f806c5b325bc</Key>
      <Caption>Menu</Caption>
      <Alias>menu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dab68ff4-a7e0-42ad-9bfe-4ca39955711f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>