<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c5f7b0d-c264-40e6-9000-e91a24a8fa9b" Alias="oBlog" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-calendar-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7ca7067c-866a-4ff0-ba80-d392b8dda98b">oCategoriesMenuForNews</Composition>
      <Composition Key="eca0c8e5-a919-47d5-8efe-e6a6b38d3a11">oFullScreenTopContainer</Composition>
      <Composition Key="08a67710-7aa2-43fa-bd86-d2c26b8c6ee3">oMetadataSettings</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="118b29f2-b6fc-467d-9ca2-a52087b8d891">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d961a393-46ea-4e5a-8708-891da8b98174" SortOrder="0">blockGridPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7c492255-12c8-48ac-88c7-eacac035f8ca</Key>
      <Name>Config Blog</Name>
      <Alias>configBlog</Alias>
      <Definition>fbaf13a8-4036-41f2-93a3-974f678c312a</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4d2b6d0-241e-4534-bf83-4951fdf85290</Key>
      <Name>Number of displayed news</Name>
      <Alias>oTake</Alias>
      <Definition>31df8dc2-550e-42dc-baf4-deefcfdf3326</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>197c8fd6-6d1e-4377-93b6-cd9d694ac644</Key>
      <Name>Share Links</Name>
      <Alias>shareLinks</Alias>
      <Definition>8387d8a7-704e-4789-aa7a-4b330d22748e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="shareSocialLinks">Share Social Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>530e2f99-4384-43ac-8129-e3e8d069ea75</Key>
      <Caption>Share Social Links</Caption>
      <Alias>shareSocialLinks</Alias>
      <Type>Group</Type>
      <SortOrder>13</SortOrder>
    </Tab>
    <Tab>
      <Key>c3bedbec-31db-4f49-ac61-1e1e57b9e442</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>