<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d172690-d99e-4233-91f2-f2a6b48bdc55" Alias="oBlockSlide" Level="3">
  <Info>
    <Name>Block slide</Name>
    <Icon>icon-slideshow color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content/Block+grid</Folder>
    <Compositions>
      <Composition Key="ba1aba91-98a0-480d-85aa-36b2f7d8d205">oCardsContainer2</Composition>
      <Composition Key="641b1cc4-3bd1-4c82-b548-2b85d9e8ee1b">oSlideBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>344fd0ad-51b1-4cd5-98a0-661c22aa0b01</Key>
      <Name>Mail &amp; social media</Name>
      <Alias>oItems</Alias>
      <Definition>addf2147-aceb-4017-ad91-dbe4b2cbb7c1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="title">Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>15ece111-a55b-4860-b0d9-b2360a70dce9</Key>
      <Caption>Title</Caption>
      <Alias>title</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>