<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="186773fc-969b-4cd5-9c2d-7dbffc6812a4" Alias="oBlockSliderContainer" Level="3">
  <Info>
    <Name>Block slider</Name>
    <Icon>icon-slideshow color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content/Block+grid</Folder>
    <Compositions>
      <Composition Key="a3c8f13c-400f-4bd6-8818-857639c21a37">oButton</Composition>
      <Composition Key="813a24a6-4283-4ab2-98f1-c53611404464">oSliderContainerBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>31c66fb5-8c97-468b-bd38-df0870e4e0cd</Key>
      <Name>Slides</Name>
      <Alias>oSlides</Alias>
      <Definition>6d75bc18-ebf6-4693-b754-0465b0ed66c7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>71512be2-6258-4b6a-ae9d-719dc4562101</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>