<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6ec3fc1-f0ba-46ef-b22c-fb54b634b861" Alias="oCasePage" Level="2">
  <Info>
    <Name>Case page</Name>
    <Icon>icon-briefcase color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d961a393-46ea-4e5a-8708-891da8b98174" SortOrder="0">blockGridPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8d503d97-7151-4b1e-a9ee-5c3c2f1e3722</Key>
      <Name>Top Baner</Name>
      <Alias>oTopBanner</Alias>
      <Definition>04239c93-cb5d-409f-8001-204a82167903</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f485467-0531-4404-861f-6e9c1d455eb2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>