<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37fcf2c4-3ce3-49e7-bf62-3127e882a6a8" Alias="oFullScreenBlockImage" Level="3">
  <Info>
    <Name>Full Screen Block Image</Name>
    <Icon>icon-window-sizes color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content/Markdown</Folder>
    <Compositions>
      <Composition Key="1d5e2202-ad8a-4b49-85ef-775e26d59309">oBlockImage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>