<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da9daff7-554a-4135-924b-998da08ce3d8" Alias="oGenericAboutPage" Level="2">
  <Info>
    <Name>Left Menu Page</Name>
    <Icon>icon-sitemap color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>LeftMenuPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d0c4995b-18d5-4493-bd4f-4151563242c2">LeftMenuPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da9daff7-554a-4135-924b-998da08ce3d8" SortOrder="0">oGenericAboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c66b3ec1-5217-4208-bdb6-9a542bca7892</Key>
      <Name>Links</Name>
      <Alias>oLinks</Alias>
      <Definition>b3272231-a1f6-4593-9f4c-232ce6f3e4f2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b664c616-3e4d-4251-b5b1-d40b4f612d54</Key>
      <Name>PageContent</Name>
      <Alias>oPageContent</Alias>
      <Definition>f617209d-3911-408d-8de8-9928190e702f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>664b6ed0-b24f-485f-9ad3-0c0d65bb9d28</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ee03d580-3106-431f-a888-797503190a3a</Key>
      <Caption>Menu</Caption>
      <Alias>menu</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>