<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="79876d18-c972-498a-bcaf-f81a6c643182" Alias="oHome" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3ffb68a8-2d6f-4067-bfbe-a51d0de2ed2a">oFooterContainer</Composition>
      <Composition Key="f4768d6a-87cf-4e8f-b454-21182a8d2cd9">oHeader</Composition>
      <Composition Key="08a67710-7aa2-43fa-bd86-d2c26b8c6ee3">oMetadataSettings</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84cb0c40-93b6-4af4-88bc-c2195caf078b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9ed744f3-a6d5-4025-8bb0-c453c6ba5a01" SortOrder="0">oSimplePage</ContentType>
    <ContentType Key="6c5f7b0d-c264-40e6-9000-e91a24a8fa9b" SortOrder="1">oBlog</ContentType>
    <ContentType Key="2c2d6bfa-5809-4deb-a004-572b1f47c818" SortOrder="2">oPage404</ContentType>
    <ContentType Key="d961a393-46ea-4e5a-8708-891da8b98174" SortOrder="3">blockGridPage</ContentType>
    <ContentType Key="2136350b-bb68-4a88-9a23-5d8ff7f55084" SortOrder="4">oCareers</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b0a7ff6c-1384-48d3-a10b-2bf59039e94e</Key>
      <Name>Favicon</Name>
      <Alias>favicon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headerSettings">Header settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbe399e2-d3a0-44fa-ba3b-ab3c32a75472</Key>
      <Name>Content</Name>
      <Alias>oContent</Alias>
      <Definition>e9544473-e9fd-4c30-bb3f-b6ced2abc96d</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06318777-2640-4a97-8e44-a3ed276d847f</Key>
      <Caption>Header settings</Caption>
      <Alias>headerSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ff2772a7-cf36-4b90-ac35-9233ba5fc198</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>