<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="67a98ac7-819a-430d-b5b8-063e7a260702" Alias="oImagesGrid" Level="2">
  <Info>
    <Name>Images Grid</Name>
    <Icon>icon-firewall color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b6eef28b-fe9f-4caf-a51f-4e3afafd618a</Key>
      <Name>Images List</Name>
      <Alias>oImagesList</Alias>
      <Definition>5465d389-3300-4cc4-85d2-a58e677f1c75</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imagesGrid">Images Grid</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1f15afa5-0a65-4096-8fbd-d4ecf672c189</Key>
      <Caption>Images Grid</Caption>
      <Alias>imagesGrid</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>