<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2766275b-4e0f-41cd-ba39-900083c0b053" Alias="oInformationPage" Level="2">
  <Info>
    <Name>Grid Layout Page</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38fe851c-edfb-49d4-bd47-1ebe1648517b">oContentGrid</Composition>
    </Compositions>
    <DefaultTemplate>InformationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de12a7fa-a6e8-4982-84ca-bdcbdca58b52">InformationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>