<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ed744f3-a6d5-4025-8bb0-c453c6ba5a01" Alias="oSimplePage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-notepad-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="08a67710-7aa2-43fa-bd86-d2c26b8c6ee3">oMetadataSettings</Composition>
    </Compositions>
    <DefaultTemplate>PageContentLayout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f27cd58f-7582-4313-9a9d-a4fcc8445c9d">PageContentLayout</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9ed744f3-a6d5-4025-8bb0-c453c6ba5a01" SortOrder="0">oSimplePage</ContentType>
    <ContentType Key="da9daff7-554a-4135-924b-998da08ce3d8" SortOrder="1">oGenericAboutPage</ContentType>
    <ContentType Key="d961a393-46ea-4e5a-8708-891da8b98174" SortOrder="2">blockGridPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>88296f6b-234e-41a8-a9f6-067df6956375</Key>
      <Name>Page Content</Name>
      <Alias>oPageContent</Alias>
      <Definition>f617209d-3911-408d-8de8-9928190e702f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2fbff752-566f-4de8-b2f2-26081db61668</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>