<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a833c18-b5a0-44f3-b601-808c0b6e3fd8" Alias="oSliderContainer" Level="2">
  <Info>
    <Name>Slider container</Name>
    <Icon>icon-slideshow color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content</Folder>
    <Compositions>
      <Composition Key="a3c8f13c-400f-4bd6-8818-857639c21a37">oButton</Composition>
      <Composition Key="813a24a6-4283-4ab2-98f1-c53611404464">oSliderContainerBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>594f170d-ba98-4c24-a1b9-3a809a3234f9</Key>
      <Name>Slides</Name>
      <Alias>oItems</Alias>
      <Definition>6890733b-402a-404e-be1e-204ab9555c7f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dafe093f-d447-47e1-b9d0-fe34f8fe0b22</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>