<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb2a0614-8f7f-4357-9f01-d62fc8d0d495" Alias="oTextWithButtonRight" Level="1">
  <Info>
    <Name>Text With Button Right</Name>
    <Icon>icon-article color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a3c8f13c-400f-4bd6-8818-857639c21a37">oButton</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22037fa9-3762-47aa-8486-8fdde0af0322</Key>
      <Name>Text</Name>
      <Alias>oText</Alias>
      <Definition>47286677-c46a-4c31-a9ef-582d088fa775</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titleAndDescriptionWithButtonRight">Title And Description With Button Right</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5da46b41-dfeb-4319-acc6-da007f01ee8f</Key>
      <Caption>Title And Description With Button Right</Caption>
      <Alias>titleAndDescriptionWithButtonRight</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>