<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="41e4ac81-a362-4309-b5ea-0481fb80a276" Alias="siteMapPage" Level="2">
  <Info>
    <Name>Site Map Page</Name>
    <Icon>icon-map color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>SiteMapPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="41858c1d-0fee-48d5-ab0d-583b8cc949f2">SiteMapPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>