<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f1c57c48-93c0-4114-b8c6-a6a5aa6a3877" Alias="BlogPost.TitleSocialLink" Level="1">
  <Info>
    <Parent>BlogPost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Don’t forget to share this post!</Translation>
  </Translations>
</Dictionary>