<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8907745a-f480-418c-b56a-097da55546f7" Alias="BlogPost.LatestArticlesTitle" Level="1">
  <Info>
    <Parent>BlogPost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Latest Articles Title</Translation>
  </Translations>
</Dictionary>