<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="96a3eda1-1098-4169-bc24-ee76d405aaa2" Alias="Careers.JoinOSKI" Level="1">
  <Info>
    <Parent>Careers</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Join OSKI solutions and build a career with impact!</Translation>
  </Translations>
</Dictionary>