<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="203461c8-0d85-44df-adcf-e16eae0056c4" Alias="Careers.LevelOfExperience" Level="1">
  <Info>
    <Parent>Careers</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Level of experience</Translation>
  </Translations>
</Dictionary>