<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4fb8b095-6131-43e5-b996-edf072a4726f" Alias="ContactForm.SuccessMessage" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">We have received your message and will get in touch with you soon</Translation>
  </Translations>
</Dictionary>