<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11610f0f-f609-4dc9-8091-3a848266decb" Alias="Vacancy.Message" Level="1">
  <Info>
    <Parent>Vacancy</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Tell us what interested you in this vacancy and why you would be a good fit</Translation>
  </Translations>
</Dictionary>