<?xml version="1.0" encoding="utf-8"?>
<Macro Key="13bf7645-1ee8-4b72-ab05-45a6b7158aa3" Alias="MenuForAllBlogs" Level="0">
  <Name>Menu for all blogs</Name>
  <MacroSource>~/Views/MacroPartials/Menu for all blogs.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Categories</Name>
      <Alias>oCategories</Alias>
      <SortOrder>3</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>What is current Url</Name>
      <Alias>oCurrentUrl</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Display creation date</Name>
      <Alias>oDisplayCreationDate</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    </Property>
    <Property>
      <Name>Where to get blog posts from</Name>
      <Alias>oParentPage</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>